<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>social mind舆情分析平台</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/chart-master/Chart.js"></script>
    <script src="assets/js/echarts.js"></script>
    <script src="assets/js/china.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <a href="index.html" class="logo"><b>social mind舆情管理平台</b></a>
        <a class="logo"><b>&nbsp; &nbsp; &nbsp; >&nbsp; &nbsp; &nbsp; 情绪地图</b></a>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">登出</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                <h5 class="centered">访客您好</h5>

                <li class="mt">
                    <a href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>首页</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="heatIndex.html">
                        <i class="fa fa-dashboard"></i>
                        <span>热度指标</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a class="active"  href="emotionMap.html">
                        <i class="fa fa-desktop"></i>
                        <span>情绪地图</span>
                    </a>
                    <ul class="sub">
                        <li><a href="emotionmap/emotionMap0.html">情绪地图</a></li>
                        <li><a href="emotionmap/emotionMap1.html">情绪走势图</a></li>
                        <li><a href="emotionmap/emotionMap2.html">跨地域情绪分析</a></li>
                        <li><a href="emotionmap/emotionMap3.html">推荐事件</a></li>
                        <li><a href="emotionmap/emotionMap4.html">返回的事件</a></li>
                    </ul>

                </li>

                <li class="sub-menu">
                    <a href="informationMonitor.html" >
                        <i class="fa fa-cogs"></i>
                        <span>信息监测</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="fullTextMonitor.html" >
                        <i class="fa fa-book"></i>
                        <span>全文检索</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="events.html" >
                        <i class="fa fa-tasks"></i>
                        <span>全网事件分析</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="reportMaker.html" >
                        <i class="fa fa-th"></i>
                        <span>简报制作</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>

    <section id="main-content">
        <section class="wrapper">
            <div class="col-lg-9 main-chart">

                <div class="white-panel pn donut-chart" style="height: 200px;">
                    <div class="white-header">
                        <h3 style="margin-top: 40px;">情绪地图</h3>
                    </div>
                    <div class="search_box">
                        <div class="col-sm-10">
                            <input type="text"  class="form-control" placeholder="输入您要搜索的内容：" style="width: 95%">
                        </div>
                        <button type="button" class="btn btn-warning" style="float: left; height: 44px; width: 80px;">搜索</button>
                    </div>
                </div>

                <div id="morris">
                    <div class="row">
                        <div class="col-lg-12" id="box1">
                            <div class="content-panel">
                                <h3 style="float: left"> &nbsp; &nbsp; 推荐事件</h3>
                                <div class="panel-body">
                                    <div id="govInc_event" class="graph">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th style="width: 15%;">序号</th>
                                                <th style="width: 45%;">事件名称</th>
                                                <th style="width: 20%;">热度</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                <td>特别特别特别热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>短</td>
                                                <td></td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>正常文本</td>
                                                <td>很热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h3 style="float: left;">&nbsp; &nbsp;情绪地图</h3>
                                <div class="panel-body" style="margin-top: 40px;">
                                    <div class="panel panel-default">
                                        <div id="map" style="width: 100%; height: 550px;"></div>
                                        <!--<img src="assets/img/emotionMap.png">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h3 style="float: left"> &nbsp; &nbsp;情绪走势图</h3>
                                <!--以后加入后台参照： https://blog.csdn.net/bianjj12699/article/details/44857825-->
                                <!--以后加入后台参照： https://blog.csdn.net/luckycz/article/details/46925619-->
                                <!--以后加入后台参照： https://segmentfault.com/a/1190000004035743-->
                                <div class="chart mt ">
                                    <div class="linePicture">
                                        <div id="line_legend"></div>
                                        <canvas id="line_pic" height="350px" width="900px" style="height: 350px; width: 900px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <footer class="site-footer">
        <div class="text-center">
            2018 - <a href="www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
            <a href="#" class="go-top">
                <strong>回到顶部</strong>
            </a>
        </div>
    </footer>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/jquery-1.8.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="assets/js/jquery.sparkline.js"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="assets/js/gritter-conf.js"></script>

<!--script for this page-->
<script src="assets/js/sparkline-chart.js"></script>
<script src="assets/js/zabuto_calendar.js"></script>


<script>
    // http://www.chartjs.org/docs/latest/charts/line.html
    var data = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [{
            label: "情绪1",
            fill: false,
            pointBackgroundColor: "#FF0000",
            borderColor: "#F08080",
            data : [65,59,32,29,46,55,40]      //点的Y轴值
        },

            {
                label: "情绪2",
                fill: false,
                pointBackgroundColor: "#008000",
                borderColor: "#32CD32",
                data : [32,44,22,99,33,22,4]      //点的Y轴值
            }]
    }

    //定义图表的参数
    var options = {

    }
    config = {
        "type": "line",
        "data": data,
        "options": options
    }
    window.onload = function(){
        new Chart(document.getElementById("line_pic"), config)
    }

</script>
<script>
    function randomData() {
        return Math.round(Math.random()*500);
    }

    var mydata = [
        {name: '北京',value: randomData() },{name: '天津',value: randomData() },
        {name: '上海',value: randomData() },{name: '重庆',value: randomData() },
        {name: '河北',value: randomData() },{name: '河南',value: randomData() },
        {name: '云南',value: randomData() },{name: '辽宁',value: randomData() },
        {name: '黑龙江',value: randomData() },{name: '湖南',value: randomData() },
        {name: '安徽',value: randomData() },{name: '山东',value: randomData() },
        {name: '新疆',value: randomData() },{name: '江苏',value: randomData() },
        {name: '浙江',value: randomData() },{name: '江西',value: randomData() },
        {name: '湖北',value: randomData() },{name: '广西',value: randomData() },
        {name: '甘肃',value: randomData() },{name: '山西',value: randomData() },
        {name: '内蒙古',value: randomData() },{name: '陕西',value: randomData() },
        {name: '吉林',value: randomData() },{name: '福建',value: randomData() },
        {name: '贵州',value: randomData() },{name: '广东',value: randomData() },
        {name: '青海',value: randomData() },{name: '西藏',value: randomData() },
        {name: '四川',value: randomData() },{name: '宁夏',value: randomData() },
        {name: '海南',value: randomData() },{name: '台湾',value: randomData() },
        {name: '香港',value: randomData() },{name: '澳门',value: randomData() }
    ];

    var option = {
        backgroundColor: '#FFFFFF',
        title: {
            text: '全国地图',
            subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: '{b}<br/>{c}'
        //    b为省份，c为数据
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                dataView: {readOnly: false},
                restore: {},
                saveAsImage: {}
            }
        },
        visualMap: {
            show : true,
            x: 'left',
            y: 'bottom',
            text: ['正面', '负面'],
            calculable: true,
            splitList: [
                {start: 500, end:600},{start: 400, end: 500},
                {start: 300, end: 400},{start: 200, end: 300},
                {start: 100, end: 200},{start: 0, end: 100},
            ],
            color: ['#00FF00', '#90EE90', '#ADFF2F','#FFFFE0', '#FFA07A', '#FF0000']
        },
        series: [{
            name: '随机数据',
            type: 'map',
            mapType: 'china',
            roam: false,
            label: {
                normal: {
                    show: false
                },
                emphasis: {
                    show: false
                }
            },
            data:mydata
        }]
    };
    var chart = echarts.init(document.getElementById('map'));
    chart.setOption(option);
</script>

</body>
</html>
