{% load staticfiles %}
<!DOCTYPE html >
<html lang ="en">
    <head>
        <meta charset = "utf-8" >
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
        <meta name = "description" content = "" >
        <meta name = "author" content = "Dashboard" >
        <meta name = "keyword" content = "Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" >

        <title> social mind舆情分析平台 </title>

        <link href="{% static 'assets0/css/bootstrap.css'%}" rel="stylesheet">
        <!--external css -->
        <link href="{% static 'assets0/font-awesome/css/font-awesome.css'%}" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href = "{% static 'assets0/css/style.css' %}" rel = "stylesheet" >
        <link href = "{% static 'assets0/css/style-responsive.css' %}" rel = "stylesheet" >

        <script src = "{% static 'assets0/js/chart-master/Chart.js' %}" > </script>
        <script src = "{% static 'assets0/js/echarts.js' %}" > </script>
        <script src = "{% static 'assets0/js/wordcloud2.js' %}" > </script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <section id="container">
            <header class="header black-bg">
                <div class="headerTitle">
                    <a href="/com_index/" class="logo"><b>social mind舆情管理平台</b></a>
                </div>
                <div class="col-lg-8">
                    <ul id="menu">
                        <li><a href="/com_index/">首页</a></li>
                        <li><a href="/events/?character=com&param=localEvent">当地事件</a></li>
                        <li><a>敏感事件</a></li>
                        <li><a>相关领域</a></li>
                        <li><a>竞争对手</a></li>
                        <li><a>推荐内容</a></li>
                        <li><a href="/fullTextMonitor/">文章搜索</a></li>
                        <li><a href="/events/" style="width: 120px;">全网事件搜索</a></li>
                    </ul>
                </div>
                <div id="person_center">
                    <ul>
                        <li class="liClass">
                            <a>个人中心</a>
                            <ul>
                                <li><a>个人信息</a></li>
                                <li><a>退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>

            <section class="wrapper">
                <div class="col-lg-9 mt" style="background-color: #ffffff">
                    <ul class="eventTypeMenu" id="eventTypeMenu">
                        <li class=""><a href="#" onclick="clickedEventType(1)">类型1</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(2)">类型2</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(3)">类型3</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(4)">类型4</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(5)">类型5</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(6)">类型6</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(7)">类型7</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(8)">类型8</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(9)">类型9</a></li>
                        <li class=""><a href="#" onclick="clickedEventType(10)">类型10</a></li>
                    </ul>
                </div>
                </div>
            </section>

            <footer class="site-footer">
                <div class="text-center">
                    2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
                    <a href="#" class="go-top">
                        <strong>回到顶部</strong>
                    </a>
                </div>
            </footer>
            <!--footer end-->
        </section>
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'assets0/js/jquery.js' %}"></script>
        <script src="{% static 'assets0/js/jquery-1.8.3.min.js' %}"></script>
        <script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets0/js/fileJs/events.js' %}"></script>

    </body>

    <script>
        window.onload = function(){
            footerKeeper();
        }
    </script>
</html>
