{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>social mind 舆情分析平台</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">

        <link rel="stylesheet" href="{% static 'assets0/layui/css/layui.css' %}" media="all">
        <script src="{% static 'assets0/layui/layui.js' %}"></script>
        <link href="{% static 'assets0/css/bootstrap.css' %}" rel="stylesheet">
        <!--external css -->
        <link href="{% static 'assets0/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="{% static 'assets0/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'assets0/css/style-responsive.css' %}" rel="stylesheet">
        <link href="{% static 'assets0/dataTable/css/jquery.dataTables.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets0/layui/css/layui.css' %}" media="all">
        <script src="{% static 'assets0/js/chart-master/Chart.js' %}"></script>
        <script src="{% static 'assets0/js/echarts.js' %}"></script>
        <script src="{% static 'assets0/js/wordcloud2.js' %}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .icon-signal {
                background-position: -408px 0
            }

            span.icon {
                border-right: 1px solid #cdcdcd;
                padding: 9px 10px 7px 11px;
                float: left;
                opacity: .7;
            }

            .r4_counter {
                min-height: 100px;
                margin-bottom: 15px;
                border-radius: 7px;
                overflow: hidden;
                position: relative;
                transition: all 0.3s ease-in-out;
                background: #ffffff;
                -webkit-box-shadow: 0 2px 28px rgba(0, 0, 0, .1);
                box-shadow: 0 2px 28px rgba(0, 0, 0, .1);
            }

            .r4_counter .stats {
                margin-left: 50px;
            }

            .ico-icon {
                position: relative;
            }

            .ico-icon-w {
                position: absolute;
                top: 0;
                left: 0
            }

            .ico-icon-w,
            .r4_counter:hover .ico-icon .ico-icon-w {
                visibility: hidden;
            }

            .r4_counter:hover .ico-icon .ico-icon-w {
                visibility: visible;
            }

            .r4_counter.has-gradient-to-right-bottom .stats span {
                color: #f7f7f7;
            }

            .r4_counter.has-gradient-to-right-bottom,
            .r4_counter:hover {
                -webkit-box-shadow: 0 1px 28px rgba(255, 152, 0, .66);
                box-shadow: 0 1px 28px rgba(255, 152, 0, .66);
                cursor: pointer;
            }

            .r4_counter:hover {
                background-image: linear-gradient(to right bottom, #e8962e, #e45131) !important;
            }

            .r4_counter:hover h3 {
                color: #fff
            }

            .r4_counter:hover span {
                color: #f7f7f7
            }

            .r4_counter:hover .icon-primary {
                color: #fff
            }

            .r4_counter .icon-after {
                position: absolute;
                width: 30%;
                line-height: 75px;
                height: 92%;
                font-size: 84px;
                color: #f7f7f7;
                top: 5px;
                right: 0;
            }

            .r4_counter.has-gradient-to-right-bottom .icon-after,
            .r4_counter:hover .icon-after {
                opacity: 0.2
            }

            .r4_counter .fa {
                margin-right: 0px;
                width: 66px;
                height: 66px;
                text-align: center;
            }

            .r4_counter h4 {
                margin: 10px 0 5px 0;
            }

            .db_box {
                background-color: #ffffff;
                box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
                -webkit-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
                -moz-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
                -o-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
                -ms-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);

            }

            .db_box {
                padding: 15px;
            }

            .db_box.db_box_large {
                max-width: inherit;
                background-color: #ffffff;
                float: left;
                margin: 0px 2% 0px 0px;
                padding: 30px;
                color: #757575 !important;
                text-align: center;
                margin-bottom: 30px;
            }

            .db_box.db_box_large .bold {
                text-align: left;
                float: left;
            }

            .db_box.db_box_large .pull-right {
                text-align: right;
            }

            .db_box.db_box_large .clearfix {
                width: 100%;
                height: 1px;
                margin-bottom: 40px;
            }

            .wrapper1 {
                display: inline-block;
                margin-top: 0px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                padding-top: 0px;
                width: 100%;
                height: 100%;
            }

            /* .btn:hover {
                text-decoration: none !important;
            } */
        </style>
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header layui-bg-cyan">
                <div class="layui-logo">socialmind</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left layui-bg-cyan">
                    {% csrf_token %}
                        {% if role == "个人用户" %}
                            <li class="layui-nav-item"><a href="/events/?role=个人用户&type=全网热点">全网热点</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=个人用户&type=当地新闻">当地新闻</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=个人用户&type=敏感信息">关注领域</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=个人用户&type=领域相关">系统推荐</a></li>
                            <li class="layui-nav-item"><a href="/fileSearch/?role=政府用户">全网文章搜索</a></li>
                        {% elif role == "企业用户" %}
                            <li class="layui-nav-item"><a href="/com_index/">首页</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=企业用户&type=企业相关">企业相关</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=企业用户&type=当地新闻">当地新闻</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=企业用户&type=敏感信息">敏感信息</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=企业用户&type=领域相关">领域相关</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=企业用户&type=行业信息">行业信息</a></li>
                            <li class="layui-nav-item"><a href="/competitive_products/">竞品信息</a></li>
                            <li class="layui-nav-item"><a href="/eventSearch/?role=企业用户">全网事件搜索</a></li>
                            <li class="layui-nav-item"><a href="/fileSearch/?role=企业用户">全网文章搜索</a></li>
                        {% elif role == "政府用户" %}
                            <li class="layui-nav-item"><a href="/gov_index/">首页</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=政府用户&type=政务相关">政务相关</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=政府用户&type=当地新闻">当地新闻</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=政府用户&type=敏感信息">敏感信息</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=政府用户&type=领域相关">领域相关</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=政府用户&type=上下级信息">上下级信息</a></li>
                            <li class="layui-nav-item"><a href="/eventSearch/?role=政府用户">全网事件搜索</a></li>
                            <li class="layui-nav-item"><a href="/fileSearch/?role=政府用户">全网文章搜索</a></li>
                        {% elif role == "事业单位用户" %}
                            <li class="layui-nav-item"><a href="/govcom_index/">首页</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=事业单位用户&type=工作相关">工作相关</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=事业单位用户&type=当地新闻">当地新闻</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=事业单位用户&type=敏感信息">敏感信息</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=事业单位用户&type=领域相关">领域相关</a></li>
                            <li class="layui-nav-item"><a href="/events/?role=事业单位用户&type=上下级信息">上下级信息</a></li>
                            <li class="layui-nav-item"><a href="/eventSearch/?role=事业单位用户">全网事件搜索</a></li>
                            <li class="layui-nav-item"><a href="/fileSearch/?role=事业单位用户">全网文章搜索</a></li>
                        {% endif %}
                </ul>
                <ul class="layui-nav layui-layout-right layui-bg-cyan">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            {{request.session.user_type}}
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/profile/">基本资料</a></dd>
                            <dd><a href="/jianbao/">简报制作</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="/logout/">退出</a></li>
                </ul>
            </div>


            <div class="layui-body">
                    <div class="col-lg-9 main-chart mb">
                        <div id="morris">
                            <div class="row mb">
                                <div class="col-lg-12">
                                    <div class="content-panel" style="padding-bottom: 15px;">
                                        {% csrf_token %}
                                        <h2 class="centered" style="float: left; width: 100%;"> &nbsp; &nbsp;{{ title }}</h2><br>
                                        <div class="eventDetials">
                                            <span class="margin-15">发表时间：{{ posttime }}</span>
                                            <span class="margin-15">文章来源：{{ webSource }}</span>
                                        </div>
                                        <div class="eventAbstract">
                                            <div style="padding: 20px;" id="abstract">
                                            &nbsp; &nbsp; &nbsp; &nbsp; {{ introduction }}
                                            </div>
                                        </div>
                                        <div class="eventFiles">
                                            &nbsp; &nbsp; &nbsp; &nbsp; {{ content }}
                                        </div>
                                        <div id="eventData" class="eventData">
                                            <button class="btn btn-warning eventButton">📂 收藏量：{{ collectNum }}</button>
                                            <button class="btn btn-warning eventButton">👍 点赞数：{{ likeNum }}</button>
                                            <button class="btn btn-warning eventButton">😊 判真数：22</button>
                                            <button class="btn btn-warning eventButton">🤬 判假数：22</button>
                                        </div>
                                        <div class="eventComments"><br>
                                            <div style="float: left; margin-left: 25%; width: 40%;">
                                                <input type="text"  class="form-control" placeholder="输入您要评论的内容：">
                                            </div>
                                            <button type="button" class="btn btn-warning" style="height: 44px; width: 80px; margin-left: 5%;">🖊 评论</button>
                                            <div class="comments" id="commentsDiv">
                                                <div id="112233" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！升职！加薪！
                                                                    升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！
                                                                    升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！升职！加薪！
                                                                    升职！加薪！升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="112232" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="112231" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="112230" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="112239" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="112238" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="112237" class="commentBlock">
                                                    <table>
                                                        <tr>
                                                            <td class="commentsImgTd">
                                                                <div class="commentsImgDiv">
                                                                    <img src="{% static 'assets0/img/product.jpg' %}" class="commentsImg">
                                                                </div>
                                                            </td>
                                                            <td class="commentsCommentTd">
                                                                <ul>
                                                                    <p class="comment"><b class="commenterName">用户名称：</b>(这是一则有声音的评论)升职！加薪！</p>
                                                                </ul>
                                                                <ul>
                                                                    <span class="fl grayText">2018-01-02</span>
                                                                    <span class="fr cursorPoint"><a href="javascript:void(0)" class="grayText">👍&nbsp;赞:&nbsp;&nbsp;2212&nbsp;&nbsp;</a></span>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <a href="/fileParticular/">
                                    <div class="col-lg-12">
                                        <div class="content-panel">
                                            <h4 style="float: left">类似文章1</h4>
                                            <div class="funcInIndex">
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                            </div>
                                            <div class="panel-body mt" style="padding-left: 10px;">
                                                <div id="recommendx" class="recommend_news">
                                                    <p>
                                                        时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                                <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="/fileParticular/">
                                    <div class="col-lg-12">
                                        <div class="content-panel">
                                            <h4 style="float: left">类似文章1</h4>
                                            <div class="funcInIndex">
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                            </div>
                                            <div class="panel-body mt" style="padding-left: 10px;">
                                                <div id="recommendx" class="recommend_news">
                                                    <p>
                                                        时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                                <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="#">
                                    <div class="col-lg-12">
                                        <div class="content-panel">
                                            <h4 style="float: left">类似文章1</h4>
                                            <div class="funcInIndex">
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                            </div>
                                            <div class="panel-body mt" style="padding-left: 10px;">
                                                <div id="recommendx" class="recommend_news">
                                                    <p>
                                                        时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                                <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="#">
                                    <div class="col-lg-12">
                                        <div class="content-panel">
                                            <h4 style="float: left">类似文章1</h4>
                                            <div class="funcInIndex">
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                            </div>
                                            <div class="panel-body mt" style="padding-left: 10px;">
                                                <div id="recommendx" class="recommend_news">
                                                    <p>
                                                        时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                                <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="row">
                                <a href="#">
                                    <div class="col-lg-12">
                                        <div class="content-panel">
                                            <h4 style="float: left">类似文章1</h4>
                                            <div class="funcInIndex">
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                                <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                            </div>
                                            <div class="panel-body mt" style="padding-left: 10px;">
                                                <div id="recommendx" class="recommend_news">
                                                    <p>
                                                        时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                                <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                                试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                 </div>

            <div class="layui-footer layui-bg-cyan" align="center">
                <!-- 底部固定区域 -->
                西安交通大学  社会智能与复杂数据处理实验室

            </div>
        </div>
        <script src="{% static 'assets0/js/jquery.js' %}"></script>
        <script src="{% static 'assets0/js/jquery-1.8.3.min.js' %}"></script>
        <script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets0/dataTable/js/jquery.dataTables.js' %}" type="text/javascript"></script>
        <script src="//res.layui.com/layui/src/layui.js?t=1531663423583" charset="utf-8"></script>


        <!--common script for all pages-->
        <script src="{% static 'assets0/js/common-scripts.js'%}"></script>

        <script type="text/javascript" src="{% static 'assets0/js/gritter/js/jquery.gritter.js'%}"></script>
        <script type="text/javascript" src="{% static 'assets0/js/gritter-conf.js'%}"></script>
    </body>
</html>