{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>social mind舆情分析平台</title>

    <link href="{% static 'assets0/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets0/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'assets0/css/style.css' %}" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <a href="index.html" class="logo"><b>social mind舆情管理平台</b></a>
        <a class="logo"><b>&nbsp; &nbsp; &nbsp; >&nbsp; &nbsp; &nbsp; 全文检索</b></a>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">登出</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="{% static 'profile.html' %}"><img src="{% static 'assets0/img/ui-sam.jpg' %}" class="img-circle" width="60"></a></p>
                <h5 class="centered">访客您好</h5>

                <li class="mt">
                      <a href="/index/">
                          <i class="fa fa-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/heatIndex/" >
                          <i class="fa fa-dashboard"></i>
                          <span>热度指标</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/emotionMap/" >
                          <i class="fa fa-desktop"></i>
                          <span>情绪地图</span>
                      </a>

                  </li>

                  <li class="sub-menu">
                      <a href="/informationMonitor/" >
                          <i class="fa fa-cogs"></i>
                          <span>信息监测</span>
                      </a>
                  </li>
                <li class="sub-menu">
                    <a class="active" href="/fullTextMonitor/" >
                        <i class="fa fa-book"></i>
                        <span>全文检索</span>
                    </a>
                </li>
                <li class="sub-menu">
                      <a href="/events/" >
                          <i class="fa fa-tasks"></i>
                          <span>全网事件分析</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="/reportMaker/" >
                          <i class="fa fa-th"></i>
                          <span>简报制作</span>
                      </a>
                  </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="col-lg-9 main-chart">
                <div class="white-panel pn donut-chart" style="height: 200px;">
                    <div class="white-header">
                        <h3 style="margin-top: 40px;">信息监测</h3>
                    </div>
                    <div class="search_box">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="输入您要搜索的内容：" style="width: 95%">
                        </div>
                        <button type="button" class="btn btn-warning" style="float: left; height: 44px; width: 80px;">搜索</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="box0">
                        <div class="content-panel">
                            <div class="event_headers">
                                <h3 style="float: left; width: 200px;"> &nbsp; &nbsp;事件名称一</h3>
                                <div class="event_inform">
                                    <span class="span_informs">时间：2018-02-10</span>
                                    <span class="span_informs">分类：政府事件</span>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 20px;">
                                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="box1">
                        <div class="content-panel">
                            <div class="event_headers">
                                <h3 style="float: left; width: 200px;"> &nbsp; &nbsp;事件名称二</h3>
                                <div class="event_inform">
                                    <span class="span_informs">时间：2018-02-10</span>
                                    <span class="span_informs">分类：政府事件</span>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 20px;">
                                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="box2">
                        <div class="content-panel">
                            <div class="event_headers">
                                <h3 style="float: left; width: 200px;"> &nbsp; &nbsp;事件名称三</h3>
                                <div class="event_inform">
                                    <span class="span_informs">时间：2018-02-10</span>
                                    <span class="span_informs">分类：政府事件</span>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 20px;">
                                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="box3">
                        <div class="content-panel">
                            <div class="event_headers">
                                <h3 style="float: left; width: 200px;"> &nbsp; &nbsp;事件名称四</h3>
                                <div class="event_inform">
                                    <span class="span_informs">时间：2018-02-10</span>
                                    <span class="span_informs">分类：政府事件</span>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 20px;">
                                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="box4">
                        <div class="content-panel">
                            <div class="event_headers">
                                <h3 style="float: left; width: 200px;"> &nbsp; &nbsp;事件名称五</h3>
                                <div class="event_inform">
                                    <span class="span_informs">时间：2018-02-10</span>
                                    <span class="span_informs">分类：政府事件</span>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 20px;">
                                <p>测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    测试测试测试测试测试测试测试测试测试测试测试测试</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="morebox">
                        <div class="content-panel">
                            <strong class="centered chart" ><a href="#">点击加载更多</a></strong>
                        </div>
                    </div>
            </div>
        </section>
    </section>

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2018 - <a href="www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
            <a href="index.html#" class="go-top">
                <strong>回到顶部</strong>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'assets0/js/jquery.js' %}"></script>
<script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>


<script>

    $(function(){
        function footerPosition(){
            $("footer").removeClass("fixed-bottom");
            var contentHeight = document.body.scrollHeight,//网页正文全文高度
                winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
            if(!(contentHeight > winHeight)){
                //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                $("footer").addClass("fixed-bottom");
            } else {
                $("footer").removeClass("fixed-bottom");
            }
        }
        footerPosition();
        $(window).resize(footerPosition);
    });
</script>
</body>
</html>
