{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>social mind舆情分析平台</title>

    <link href="{% static 'assets0/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets0/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'assets0/css/style.css' %}" rel="stylesheet">


    <script src="{% static 'assets0/js/chart-master/Chart.js' %}"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <a href="index.html" class="logo"><b>social mind舆情管理平台</b></a>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">登出</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="{% static 'profile.html' %}"><img src="{% static 'assets0/img/ui-sam.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">访客您好</h5>

                  <li class="mt">
                      <a class="active" href="/index/">
                          <i class="fa fa-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/heatIndex/" >
                          <i class="fa fa-dashboard"></i>
                          <span>热度指标</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/emotionMap/" >
                          <i class="fa fa-desktop"></i>
                          <span>情绪地图</span>
                      </a>

                  </li>

                  <li class="sub-menu">
                      <a href="/informationMonitor/" >
                          <i class="fa fa-cogs"></i>
                          <span>信息监测</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="/fullTextMonitor/" >
                          <i class="fa fa-book"></i>
                          <span>全文检索</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="/events/" >
                          <i class="fa fa-tasks"></i>
                          <span>全网事件分析</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="/reportMaker/" >
                          <i class="fa fa-th"></i>
                          <span>简报制作</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
                  <div class="col-lg-9 main-chart">

                  	<div class="white-panel pn donut-chart">
                        <div class="white-panel">
                            <div class="white-header">
                                <h3>统计</h3>
                            </div>
                        </div>
                        <div class="boxes" >
                            <div id="statistics00" style="width: 20%; margin-left:4%; float: left">
                                <div class="pic">
                                    <canvas id="serverstatus10" height="120px" width="120px"></canvas>
                                    <script>
                                        var doughnutData = [
                                            {
                                                value: 70,
                                                label: "70%",
                                                color:"#FFA500"
                                            },
                                            {
                                                value : 30,
                                                color : "#f1f1f1"
                                            }
                                        ];
                                        var myDoughnut = new Chart(document.getElementById("serverstatus10").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 80});
                                    </script>
                                </div>
                                <div class="white-header">
                                    <p>新增热门事件数</p>
                                </div>
                            </div>
                            <div id="statistics01" style="width: 20%; margin-left:4%; float: left">
                                <div class="pic">
                                    <canvas id="serverstatus11" height="120px" width="120px"></canvas>
                                    <script>
                                        var doughnutData = [
                                            {
                                                value: 60,
                                                color:"#FFA500"
                                            },
                                            {
                                                value : 40,
                                                color : "#f1f1f1"
                                            }
                                        ];
                                        var myDoughnut = new Chart(document.getElementById("serverstatus11").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 80});
                                    </script>
                                </div>
                                <div class="white-header">
                                    <p>新增敏感信息数</p>
                                </div>
                            </div>
                            <div id="statistics02" style="width: 20%; margin-left:4%; float: left">
                                <div class="pic">
                                    <canvas id="serverstatus12" height="120px" width="120px"></canvas>
                                    <script>
                                        var doughnutData = [
                                            {
                                                value: 50,
                                                color:"#FFA500"
                                            },
                                            {
                                                value : 50,
                                                color : "#f1f1f1"
                                            }
                                        ];
                                        var myDoughnut = new Chart(document.getElementById("serverstatus12").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 80});
                                    </script>
                                </div>
                                <div class="white-header">
                                    <p>新增领导动态数</p>
                                </div>
                            </div>
                            <div id="statistics03" style="width: 20%; margin-left:4%; float: left">
                                <div class="pic">
                                    <canvas id="serverstatus13" height="120px" width="120px"></canvas>
                                    <script>
                                        var doughnutData = [
                                            {
                                                value: 40,
                                                color: "#FFA500"
                                            },
                                            {
                                                value : 60,
                                                color : "#f1f1f1"
                                            }
                                        ];
                                        var myDoughnut = new Chart(document.getElementById("serverstatus13").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 80});
                                    </script>
                                </div>
                                <div class="white-header">
                                    <p>新增下属动态数</p>
                                </div>
                            </div>

                        </div>
                  	</div><!-- /row mt -->

                    <div id="morris">
                          <div class="row mt">
                              <div class="col-lg-6">
                                  <div class="content-panel">
                                      <h4 style="float: left">当地热门事件排行</h4>
                                      <div class="funcInIndex">
                                          <button type="button" class="btn btn-warning" style="font-size: 10px;">最热</button>
                                          <button type="button" class="btn btn-warning" style="font-size: 10px;">最新</button>
                                          <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">更多...</button>
                                      </div>
                                      <div class="panel-body">
                                          <div id="hot_event" class="graph">
                                              <table class="table">
                                                  <thead>
                                                    <tr>
                                                        <th style="width: 15%;">序号</th>
                                                        <th style="width: 45%;">事件名称</th>
                                                        <th style="width: 20%;">热度</th>
                                                        <th>时间</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                        <td>特别特别特别热</td>
                                                        <td>2018-01-01</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>短</td>
                                                        <td></td>
                                                        <td>2018-01-01</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>正常文本</td>
                                                        <td>很热</td>
                                                        <td>2018-01-01</td>
                                                    </tr>
                                                    </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="content-panel">
                                      <h4 style="float: left">敏感，苗头事件初探</h4>
                                      <div class="funcInIndex">
                                          <button type="button" class="btn btn-warning" style="font-size: 10px;">最新</button>
                                          <button type="button" class="btn btn-warning" style="font-size: 10px;">增长最快</button>
                                          <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                      </div>
                                      <div class="panel-body">
                                          <div id="case_sensitive" class="graph">
                                              <table class="table">
                                                  <thead>
                                                  <tr>
                                                      <th style="width: 15%;">序号</th>
                                                      <th style="width: 45%;">事件名称</th>
                                                      <th style="width: 20%;">热度</th>
                                                      <th>时间</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr>
                                                      <td>1</td>
                                                      <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                      <td>特别特别特别热</td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  <tr>
                                                      <td>2</td>
                                                      <td>短</td>
                                                      <td></td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  <tr>
                                                      <td>3</td>
                                                      <td>正常文本</td>
                                                      <td>很热</td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row mt">
                              <div class="col-lg-6">
                                  <div class="content-panel">
                                      <h4 style="float: left">领导动态</h4>
                                      <div class="funcInIndex">
                                          <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                      </div>
                                      <div class="panel-body">
                                          <div id="leaders" class="graph">
                                              <table class="table">
                                                  <thead>
                                                  <tr>
                                                      <th style="width: 15%;">序号</th>
                                                      <th style="width: 45%;">事件名称</th>
                                                      <th style="width: 20%;">热度</th>
                                                      <th>时间</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr>
                                                      <td>1</td>
                                                      <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                      <td>特别特别特别热</td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  <tr>
                                                      <td>2</td>
                                                      <td>短</td>
                                                      <td></td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  <tr>
                                                      <td>3</td>
                                                      <td>正常文本</td>
                                                      <td>很热</td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="content-panel">
                                      <h4 style="float: left">下属机关部门动态</h4>
                                      <div class="funcInIndex">
                                          <button type="button" class="btn btn-warning" style="font-size: 10px;">最新动态</button>
                                          <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                      </div>
                                      <div class="panel-body">
                                          <div id="subordinate_movement" class="graph">
                                              <table class="table">
                                                  <thead>
                                                  <tr>
                                                      <th style="width: 15%;">序号</th>
                                                      <th style="width: 45%;">事件名称</th>
                                                      <th style="width: 20%;">热度</th>
                                                      <th>时间</th>
                                                  </tr>
                                                  </thead>
                                                  <tbody>
                                                  <tr>
                                                      <td>1</td>
                                                      <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                      <td>特别特别特别热</td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  <tr>
                                                      <td>2</td>
                                                      <td>短</td>
                                                      <td></td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  <tr>
                                                      <td>3</td>
                                                      <td>正常文本</td>
                                                      <td>很热</td>
                                                      <td>2018-01-01</td>
                                                  </tr>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        <div class="row mt">
                            <div class="col-lg-6">
                                <div class="content-panel">
                                    <h4 style="float: left">关心领域动态</h4>
                                    <div class="funcInIndex">
                                        <button type="button" class="btn btn-warning" style="font-size: 10px;">最新动态</button>
                                        <button type="button" class="btn btn-warning" style="font-size: 10px;">关心领域管理</button>
                                        <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                    </div>
                                    <div class="panel-body">
                                        <div id="care_area_movement" class="graph">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 15%;">序号</th>
                                                    <th style="width: 45%;">事件名称</th>
                                                    <th style="width: 20%;">热度</th>
                                                    <th>时间</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                    <td>特别特别特别热</td>
                                                    <td>2018-01-01</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>短</td>
                                                    <td></td>
                                                    <td>2018-01-01</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>正常文本</td>
                                                    <td>很热</td>
                                                    <td>2018-01-01</td>
                                                </tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="content-panel">
                                    <h4 style="float: left">日志动态管理</h4>
                                    <div class="funcInIndex">
                                        <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                    </div>
                                    <div class="panel-body">
                                        <div id="log_movement" class="graph">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 15%;">序号</th>
                                                    <th style="width: 45%;">事件名称</th>
                                                    <th style="width: 20%;">热度</th>
                                                    <th>时间</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                    <td>特别特别特别热</td>
                                                    <td>2018-01-01</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>短</td>
                                                    <td></td>
                                                    <td>2018-01-01</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>正常文本</td>
                                                    <td>很热</td>
                                                    <td>2018-01-01</td>
                                                </tr>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>


                  </div>
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
              <a href="index.html#" class="go-top">
                  <strong>回到顶部</strong>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'assets0/js/jquery.js' %}"></script>
<script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>


  </body>
</html>
