{% load staticfiles %}
<!DOCTYPE html >
<html lang ="en">
<head>
    <meta charset = "utf-8" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
    <meta name = "description" content = "" >
    <meta name = "author" content = "Dashboard" >
    <meta name = "keyword" content = "Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina" >

    <title> social mind舆情分析平台 </title>

    <link href="{% static 'assets0/css/bootstrap.css'%}" rel="stylesheet">
    <!--external css -->
    <link href="{% static 'assets0/font-awesome/css/font-awesome.css'%}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href = "{% static 'assets0/css/style.css' %}" rel = "stylesheet" >
    <link href = "{% static 'assets0/css/style-responsive.css' %}" rel = "stylesheet" >

    <script src = "{% static 'assets0/js/chart-master/Chart.js' %}" > </script>
    <script src = "{% static 'assets0/js/echarts.js' %}" > </script>
    <script src = "{% static 'assets0/js/wordcloud2.js' %}" > </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container">
      <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="/index/" class="logo"><b>social mind舆情管理平台</b></a>
        <a class="logo"></a>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="login.html">登出</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
{#        <aside>#}
{#            <div id="sidebar"  class="nav-collapse ">#}
{#                <!-- sidebar menu start-->#}
{#                <ul class="sidebar-menu" id="nav-accordion">#}
{##}
{#                    <p class="centered"><a href="/profile/"><img src="{% static 'assets0/img/friends/fr-09.jpg' %}" class="img-circle" width="60"></a></p>#}
{#                    <h5 class="centered">访客您好</h5>#}
{##}
{#                    <li class="mt">#}
{#                        <a class="active" href="/index/">#}
{#                            <i class="fa fa-dashboard"></i>#}
{#                            <span>首页</span>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                    <li class="sub-menu">#}
{#                        <a href="/heatIndex/" >#}
{#                            <i class="fa fa-dashboard"></i>#}
{#                            <span>热度指标</span>#}
{#                        </a>#}
{#                    </li>#}
{##}
{#                    <li class="sub-menu">#}
{#                        <a href="/emotionMap/" >#}
{#                            <i class="fa fa-desktop"></i>#}
{#                            <span>情绪地图</span>#}
{#                        </a>#}
{##}
{#                    </li>#}
{##}
{#                    <li class="sub-menu">#}
{#                        <a href="/informationMonitor/" >#}
{#                            <i class="fa fa-cogs"></i>#}
{#                            <span>信息监测</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="/fullTextMonitor/" >#}
{#                            <i class="fa fa-book"></i>#}
{#                            <span>全文检索</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="/events/" >#}
{#                            <i class="fa fa-tasks"></i>#}
{#                            <span>全网事件分析</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="sub-menu">#}
{#                        <a href="/reportMaker/" >#}
{#                            <i class="fa fa-th"></i>#}
{#                            <span>简报制作</span>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#                <!-- sidebar menu end-->#}
{#            </div>#}
{#        </aside>#}

        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
{#        <section id="main-content">#}
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-6 main-chart">
                        <div class="white-panel pn400 donut-chart">
                            <div class="white-panel">
                                <div class="white-header">
                                    <h3 id="eventHeader">热点事件名称</h3>
                                </div>
                            </div>
                            <div class="boxes" >
                                <table class="index_first_table">
                                    <td style="width: 25%">
                                        <div id="sensitiveIndex" style="height: 20%; font-size: 20px; text-align: center; width: 80%; margin-left: 20%;">
                                            敏感度指数
                                        </div>
                                        <div id="sI" style="height: 200px; width: 40%; margin-left: 40%;">
                                            <div id="sI1" style="height: 40%; width: 100%;"></div>
                                            <div id="sI2" style="height: 60%; width: 100%; background-color: #DAA520;"></div>
                                        </div>
                                        <div style="height: 20%; text-align: center; width: 80%; margin-left: 20%;">非敏感事件</div>
                                    </td>
                                    <td style="width: 50%">
                                        <div id="statistics00" style="width: 30%; margin-left:12%;">
                                            <div class="pic" style="position: center; width: 240px; height: 240px;">
                                                <canvas id="serverstatus10" height="120px" width="120px"></canvas>
                                                <script>
                                                    var config = {
                                                        type: 'doughnut',
                                                        data:{
                                                            datasets:[{
                                                                data:[
                                                                    70,
                                                                    300,
                                                                ],
                                                                backgroundColor:[
                                                                    "#FFA500",
                                                                    "#666666",
                                                                ],
                                                            }],
                                                            labels:[
                                                                "今日新增文章数量：",
                                                                "原有文章数量："
                                                            ],
                                                        },
                                                        options:{
                                                            cutoutPercentage: 60,
                                                            responsive: true,
                                                            legend:{
                                                                display: true,
                                                                position: "bottom",
                                                            },
                                                            title: {
                                                                display: true,
                                                                fontSize: 20,
                                                                fontColor: "#000000",
                                                                text: "今日新增相关文章数",
                                                            },
                                                            animation:{
                                                                animateScale: true,
                                                                animateRoatae: true
                                                            }
                                                        }
                                                    };
                                                    var myDoughnut = new Chart(document.getElementById("serverstatus10").getContext("2d"), config);
                                                </script>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="heatIndex" style="height: 20%; font-size: 20px; text-align: center; width: 80%;">
                                            热度指数
                                        </div>
                                        <div style="height: 200px; width: 40%; margin-left: 20%;">
                                            <div id="hI1" style="height: 10%; width: 100%;"></div>
                                            <div id="hI2" style="height: 90%; width: 100%; background-color: #DAA520;"></div>
                                        </div>
                                        <div style="height: 20%; text-align: center; width: 80%;">热点事件</div>
                                    </td>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 main-chart">
                        <div class="white-panel pn400 donut-chart">
                            <div class="white-panel">
                                <div class="white-header" style="margin-bottom: 0px;">
                                    <h3>当地新事件统计</h3>
                                </div>
                            </div>
                            <div class="panel-body" style="height: 80%;">
                                <div class="chart mt">
                                    <div class="linePicture" style="height: 90%; width: 100%;">
                                        <canvas id="rtPic" height="280px" width="700px"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="morris">
                    <div class="row mt">
                        <div class="col-lg-6">
                            <div class="content-panel">
                                <h4 style="float: left">事件走势统计</h4>
                                <div class="panel-body" style="height: 215px;">
                                    <div class="chart">
                                        <div style="height: 95%; padding-top: 10px;">
                                            <canvas id="line_picc" height="220px" width="900px" style="height: 250px; width: 900px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-panel">
                                <h4 style="float: left">我关心的事件列表</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                </div>
                                <div class="panel-body">
                                    <div id="log_movement" class="graph">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th style="width: 15%;">序号</th>
                                                <th style="width: 45%;">事件名称</th>
                                                <th style="width: 20%;">热度</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><a href="/eventParticular/">一个很长很长很长很长很长的文本，很长很长</a></td>
                                                <td>特别特别特别热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>短</td>
                                                <td></td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>正常文本</td>
                                                <td>很热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt">
                        <div class="col-lg-3">
                            <div class="content-panel" style="height: 290px;">
                                <h4 style="float: left">关键词云</h4>
                                <div class="panel-body">
                                     <div class="pic" style="position: center; width: 90%; margin-left: 5%;">
                                         <canvas id="cloud" style="width: 90%; height: 200px; margin-left: 5%;"></canvas>
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="content-panel">
                                <h4 style="float: left">文章来源构成</h4>
                                <div class="panel-body">
                                    <div id="statisticsx00" style="width: 100%;">
                                        <div class="pic" style="position: center; width: 70%; height: 240px; margin-left: 15%;">
                                            <canvas id="serverstatusPie" height="120px" width="120px"></canvas>
                                            <script>
                                                    var config = {
                                                        type: 'pie',
                                                        data:{
                                                            datasets:[{
                                                                data:[
                                                                    710,
                                                                    300,
                                                                    420,
                                                                    190,
                                                                    200
                                                                ],
                                                                backgroundColor:[
                                                                    "#FFA500",
                                                                    "#666666",
                                                                    "#33CC66",
                                                                    "#FF3300",
                                                                    "#3333FF"
                                                                ],
                                                            }],
                                                            labels:[
                                                                "新浪微博：",
                                                                "百度贴吧：",
                                                                "今日头条",
                                                                "新华网",
                                                                "其他"
                                                            ],
                                                        },
                                                        options:{
                                                            cutoutPercentage: 0,
                                                            responsive: true,
                                                            legend:{
                                                                display: true,
                                                                position: "bottom",
                                                            },
                                                            animation:{
                                                                animateScale: true,
                                                                animateRoatae: true
                                                            }
                                                        }
                                                    };
                                                    var myDoughnut = new Chart(document.getElementById("serverstatusPie").getContext("2d"), config);
                                                </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-panel" style="height: 290px;">
                                <h4 style="float: left">当地热点事件列表</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">最新</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">增长最快</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                </div>
                                <div class="panel-body">
                                    <div id="case_sensitive" class="graph">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th style="width: 15%;">序号</th>
                                                <th style="width: 45%;">事件名称</th>
                                                <th style="width: 20%;">热度</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr onclick="changeNum()">
                                                <td>1</td>
                                                <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                <td>特别特别特别热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>短</td>
                                                <td></td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>正常文本</td>
                                                <td>很热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt">
                        <div class="col-lg-3">
                            <div class="content-panel" style="height: 290px;">
                                <h4 style="float: left">传播信息网络</h4>
                                <div class="panel-body">
                                     <div class="pic" style="width: 100%;">
                                         <img src="{% static "assets0/img/transportNet.png" %}" style="width: 80%; height: 220px; margin-left: 10%;">
                                     </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="content-panel">
                                <h4 style="float: left">事件情绪组成</h4>
                                <div class="panel-body">
                                    <div id="statistics01" style="width: 100%;">
                                        <div class="pic" style="position: center; width: 70%; height: 240px; margin-left: 15%;">
                                            <canvas id="serverstatusPiee" height="120px" width="120px"></canvas>
                                            <script>
                                                    var config = {
                                                        type: 'pie',
                                                        data:{
                                                            datasets:[{
                                                                data:[
                                                                    210,
                                                                    400,
                                                                    220,
                                                                    90,
                                                                    1200
                                                                ],
                                                                backgroundColor:[
                                                                    "#FFA500",
                                                                    "#666666",
                                                                    "#33CC66",
                                                                    "#FF3300",
                                                                    "#3333FF"
                                                                ],
                                                            }],
                                                            labels:[
                                                                "喜悦：",
                                                                "高兴：",
                                                                "中性",
                                                                "悲伤",
                                                                "惊恐"
                                                            ],
                                                        },
                                                        options:{
                                                            cutoutPercentage: 0,
                                                            responsive: true,
                                                            legend:{
                                                                display: true,
                                                                position: "bottom",
                                                            },
                                                            animation:{
                                                                animateScale: true,
                                                                animateRoatae: true
                                                            }
                                                        }
                                                    };
                                                    var myDoughnut = new Chart(document.getElementById("serverstatusPiee").getContext("2d"), config);
                                                </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-panel" style="height: 290px;">
                                <h4 style="float: left">当地敏感事件列表</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">最新动态</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">所有...</button>
                                </div>
                                <div class="panel-body">
                                    <div id="subordinate_movement" class="graph">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th style="width: 15%;">序号</th>
                                                <th style="width: 45%;">事件名称</th>
                                                <th style="width: 20%;">热度</th>
                                                <th>时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr onclick="changeNuM()">
                                                <td>1</td>
                                                <td>一个很长很长很长很长很长的文本，很长很长</td>
                                                <td>特别特别特别热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>短</td>
                                                <td></td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>正常文本</td>
                                                <td>很热</td>
                                                <td>2018-01-01</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{#        </section>#}

        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
                <a href="index.html#" class="go-top">
                    <strong>回到顶部</strong>
                </a>
            </div>
        </footer>
        <!--footer end-->
        </section>
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'assets0/js/jquery.js' %}"></script>

        <script src="{% static 'assets0/js/jquery-1.8.3.min.js' %}"></script>
        <script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>


  </body>
<script>
    // http://www.chartjs.org/docs/latest/charts/line.html
    var data = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [{
            label: "所有新事件",
            fill: false,
            pointBackgroundColor: "#FF0000",
            borderColor: "#F08080",
            data : [165,159,132,129,146,155,140]      //点的Y轴值
        },

            {
                label: "热点事件数",
                fill: false,
                pointBackgroundColor: "#008000",
                borderColor: "#32CD32",
                data : [32,44,22,99,33,22,4]      //点的Y轴值
            },
        {
                label: "敏感事件数",
                fill: false,
                pointBackgroundColor: "#66CCFF",
                borderColor: "#0033CC",
                data : [32,34,27,19,33,92,44]      //点的Y轴值
            }]
    };

    //定义图表的参数
    var options = {

    };
    cconfig = {
        "type": "line",
        "data": data,
        "options": options
    };

    // http://www.chartjs.org/docs/latest/charts/line.html
    var dataa = {
        labels : ["一月","二月","三月","四月","五月","六月","七月","八月"],
        datasets : [{
            label: "全部文章数",
            fill: false,
            pointBackgroundColor: "#FF0000",
            borderColor: "#F08080",
            data : [165,159,322,292,463,515,430]      //点的Y轴值
        },

            {
                label: "热门文章数",
                fill: false,
                pointBackgroundColor: "#008000",
                borderColor: "#32CD32",
                data : [32,44,122,99,33,122,14]      //点的Y轴值
            },{
                label: "跨平台相似文章数",
                fill: false,
                pointBackgroundColor: "#6699FF",
                borderColor: "#3333CC",
                data : [52,43,72,49,133,92,94]      //点的Y轴值
            }]
    };

    //定义图表的参数
    var options = {

    };
    configg = {
        "type": "line",
        "data": dataa,
        "options": options
    };
    window.onload = function(){
        new Chart(document.getElementById("line_picc"), configg);
        new Chart(document.getElementById("rtPic"), cconfig);
    };

</script>
<script>
    function changeNum(){
            var config = {
                type: 'doughnut',
                data:{
                    datasets:[{
                        data:[
                            100,
                            200,
                        ],
                        backgroundColor:[
                            "#FFA500",
                            "#666666",
                        ],
                    }],
                    labels:[
                        "今日新增文章数：",
                        "原有文章数："
                    ],
                },
                options:{
                    cutoutPercentage: 60,
                    responsive: true,
                    legend:{
                        display: true,
                        position: "bottom",
                    },
                    title: {
                        display: true,
                        fontSize: 20,
                        fontColor: "#000000",
                    },
                    animation:{
                        animateScale: true,
                        animateRoatae: true
                    }
                }
            };
            var myDoughnut = new Chart(document.getElementById("serverstatus10").getContext("2d"), config);
            var div1 = document.getElementById("sI1");
            var div2 = document.getElementById("sI2");
            div1.style.height = "80%";
            div2.style.height = "20%";
            var div1 = document.getElementById("hI1");
            var div2 = document.getElementById("hI2");
            div1.style.height = "70%";
            div2.style.height = "30%";
            document.getElementById("eventHeader").innerHTML = "一个很长很长很长很长很长的文本，很长很长";

    }
</script>
<script>
    var list = [
        ['aaa', 12],
        ['ddd', 22],
        ['fff', 12],
        ['SE', 10],
        ['ee3e', 7],
        ['ff2f', 9],
        ['socialmind', 38],
        ['ee1e', 24],
        ['3fff', 16],
        ['XJTU', 24],
        ['e4ee', 23],
    ];
    var option = {
        list: list,
        color: "random-dark",
        shape: "star",
        fontWeight: "bold",
    };
    WordCloud(document.getElementById("cloud"), option);
</script>
</html>
