{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请您登陆</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets0/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets0/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'assets0/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="headerFont">
            <h1 style="color: #DAA520; margin-top: 100px;">SOCIAL MIND 舆情管理平台</h1>
            <p style="color: #DAA520;">西安交通大学SICDP实验室</p>
        </div>

        <form name= 'login'class="form-login" id="login" action="/login/" method="post">
            {% csrf_token %}
            <h2 class="form-login-heading">请您登陆</h2>
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
            <div class="login-wrap">
                <p>请选择用户类型:</p>
                <select name="usertype" class="form-control" required>
                    <option>个人用户</option>
                    <option>企业用户</option>
                    <option>政府用户</option>
                    <option>事业单位用户</option>
                    <option>管理员</option>
                </select><br>

                <input name="username" type="text" class="form-control" placeholder="用户名" autofocus required>
                <br>
                <input name="password" type="password" class="form-control" placeholder="密码" required><br>

                  {{ login_form.captcha.errors }}
                  {{ login_form.captcha.label_tag }}
                  {{ login_form.captcha }}




                <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i> &nbsp; &nbsp;登陆</button>
                <button class="btn btn-theme btn-block" onclick="signIn()" type="button"><i class="fa fa-user"></i> &nbsp; &nbsp;注册</button>
            </div>
        </form>
    </div>

</body>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'assets0/js/jquery.js' %}"></script>
<script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets0/js/jquery.backstretch.min.js' %}"></script>
<script>
    $.backstretch("{% static 'assets0/img/bg.jpg' %}", {speed: 0});
</script>
<script>
    function signIn() {
        document.login.action='/signin/'
        document.login.submit()
    }

</script>
</html>