{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>social mind 舆情分析平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link href="{% static 'assets0/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css -->
    <link href="{% static 'assets0/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static 'assets0/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets0/css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'assets0/dataTable/css/jquery.dataTables.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets0/layui/css/layui.css' %}" media="all">
    <script src="{% static 'assets0/js/chart-master/Chart.js' %}"></script>
    <script src="{% static 'assets0/js/echarts.js' %}"></script>
    <script src="{% static 'assets0/js/wordcloud2.js' %}"></script>
    <script src="{% static 'assets0/js/china.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .icon-signal {
            background-position: -408px 0
        }

        span.icon {
            border-right: 1px solid #cdcdcd;
            padding: 9px 10px 7px 11px;
            float: left;
            opacity: .7;
        }

        .r4_counter {
            min-height: 100px;
            margin-bottom: 15px;
            border-radius: 7px;
            overflow: hidden;
            position: relative;
            transition: all 0.3s ease-in-out;
            background: #ffffff;
            -webkit-box-shadow: 0 2px 28px rgba(0, 0, 0, .1);
            box-shadow: 0 2px 28px rgba(0, 0, 0, .1);
        }

        .r4_counter .stats {
            margin-left: 50px;
        }

        .ico-icon {
            position: relative;
        }

        .ico-icon-w {
            position: absolute;
            top: 0;
            left: 0
        }

        .ico-icon-w,
        .r4_counter:hover .ico-icon .ico-icon-w {
            visibility: hidden;
        }

        .r4_counter:hover .ico-icon .ico-icon-w {
            visibility: visible;
        }

        .r4_counter.has-gradient-to-right-bottom .stats span {
            color: #f7f7f7;
        }

        .r4_counter.has-gradient-to-right-bottom,
        .r4_counter:hover {
            -webkit-box-shadow: 0 1px 28px rgba(255, 152, 0, .66);
            box-shadow: 0 1px 28px rgba(255, 152, 0, .66);
            cursor: pointer;
        }

        .r4_counter:hover {
            background-image: linear-gradient(to right bottom, #e8962e, #e45131) !important;
        }

        .r4_counter:hover h3 {
            color: #fff
        }

        .r4_counter:hover span {
            color: #f7f7f7
        }

        .r4_counter:hover .icon-primary {
            color: #fff
        }

        .r4_counter .icon-after {
            position: absolute;
            width: 30%;
            line-height: 75px;
            height: 92%;
            font-size: 84px;
            color: #f7f7f7;
            top: 5px;
            right: 0;
        }

        .r4_counter.has-gradient-to-right-bottom .icon-after,
        .r4_counter:hover .icon-after {
            opacity: 0.2
        }

        .r4_counter .fa {
            margin-right: 0px;
            width: 66px;
            height: 66px;
            text-align: center;
        }

        .r4_counter h4 {
            margin: 10px 0 5px 0;
        }

        .db_box {
            background-color: #ffffff;
            box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -webkit-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -moz-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -o-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);
            -ms-box-shadow: 0 1px 3px rgba(33, 33, 33, .2);

        }

        .db_box {
            padding: 15px;
        }

        .db_box.db_box_large {
            max-width: inherit;
            background-color: #ffffff;
            float: left;
            margin: 0px 2% 0px 0px;
            padding: 30px;
            color: #757575 !important;
            text-align: center;
            margin-bottom: 30px;
        }

        .db_box.db_box_large .bold {
            text-align: left;
            float: left;
        }

        .db_box.db_box_large .pull-right {
            text-align: right;
        }

        .db_box.db_box_large .clearfix {
            width: 100%;
            height: 1px;
            margin-bottom: 40px;
        }

        .wrapper1 {
            display: inline-block;
            margin-top: 0px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
            padding-top: 0px;
            width: 100%;
            height: 100%;
        }

        /* .btn:hover {
            text-decoration: none !important;
        } */
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-cyan">
        <div class="layui-logo">socialmind</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left layui-bg-cyan">
            <li class="layui-nav-item"><a href="/com_index/">首页</a></li>
            <li class="layui-nav-item"><a href="/events/?type=企业相关">企业相关</a></li>
            <li class="layui-nav-item"><a href="/events/?type=当地新闻">当地新闻</a></li>
            <li class="layui-nav-item"><a href="/events/?type=敏感信息">敏感信息</a></li>
            <li class="layui-nav-item"><a href="/events/?type=领域相关">领域相关</a></li>
            <li class="layui-nav-item"><a href="/events/?type=行业信息">行业信息</a></li>
            <li class="layui-nav-item"><a href="/eventParticular/">全网事件搜索</a></li>


        </ul>
        <ul class="layui-nav layui-layout-right layui-bg-cyan">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    SICDP
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>


    <div class="layui-body">
        <div class="col-lg-9 main-chart mb">
            <div id="morris">
                <div class="row mb">
                    <div class="col-lg-12">
                        <div class="content-panel" style="padding-bottom: 15px;">
                            <h2 class="centered" style="float: left; width: 100%;"> &nbsp; &nbsp;此处为事件名称</h2><br>
                            <div class="eventDetials">
                                <span class="margin-15">开始时间：2018-01-01</span>
                                <span class="margin-15">结束时间：2018-10-10</span>
                            </div>
                            <div class="eventAbstract">
                                <div style="padding: 20px;" id="abstract">
                                    &nbsp; &nbsp; &nbsp; &nbsp; <strong>此处为事件简介</strong>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介
                                    绍介绍介绍介绍介绍介绍介绍介绍
                                介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍
                                介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍绍介绍介绍介绍介绍介绍介绍介绍
                                介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍
                                介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍绍介绍介绍介绍介绍介绍介绍介绍
                                介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍
                                介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍。
                                </div>
                            </div>
{#                                <div class="eventFiles">#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; 此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                    此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文此处为正文#}
{#                                </div>#}
                            <div id="eventData" class="eventData">
                                <button class="btn btn-warning eventButton">收藏量：22</button>
                                <button class="btn btn-warning eventButton">点赞数：22</button>
                                <button class="btn btn-warning eventButton">判真数：22</button>
                                <button class="btn btn-warning eventButton">判假数：22</button>
                            </div>
                            <div class="eventComments"><br>
                                <div style="float: left; margin-left: 25%; width: 40%;">
                                    <input type="text"  class="form-control" placeholder="输入您要评论的内容：">
                                </div>
                                <button type="button" class="btn btn-warning" style="height: 44px; width: 80px; margin-left: 5%;">评论</button>
                                <div class="comments" id="comments">
                                </div>
                            </div>
                            <div id="choiceFunc" class="eventData">
                                <button class="btn btn-theme04 event3Buttons" id="change0" value="open0" onclick="changePage(this.value)">事件指数</button>
                                <button class="btn btn-warning event3Buttons" id="change1" value="close1" onclick="changePage(this.value)">传播分析</button>
                                <button class="btn btn-warning event3Buttons" id="change2" value="close2" onclick="changePage(this.value)">情感分析</button>
                            </div>
                            <div id="eventExponent" class="eventComments centered" style="display: block;">
                                <table>
                                    <td style="width: 33%;">
                                        <div class="items">
                                            <h4 class="centered">&nbsp; &nbsp;事件热度</h4>
                                            <div id="heat" style="width: 100%; height: 350px;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="items">
                                            <h4 class="centered">&nbsp; &nbsp;事件敏感度</h4>
                                            <div id="sensitive" style="width: 100%; height: 350px;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 33%;">
                                        <div class="items">
                                            <h4 class="centered">&nbsp; &nbsp;事件情感极性</h4>
                                            <div id="polarity" style="width: 100%; height: 350px;"></div>
                                        </div>
                                    </td>
                                </table>
                                <div style="height: 350px; width: 90%; margin-left: 5%;">
                                    <canvas id="heatTrendCount" height="300px" width="900px"></canvas>
                                </div>
                                <div style="height: 350px; width: 90%; margin-left: 5%;">
                                    <canvas id="heatTime" height="300px" width="900px"></canvas>
                                </div>
                                <div class="eventComments" id="maps">
                                    <div id="heatMap" style="width: 80%; height: 450px; margin-left: 15%;"></div>
                                    <div id="sensitiveMap" style="width: 80%; height: 450px; margin-left: 15%;"></div>
                                </div>
                                <div class="eventCloud" id="eventCloud">
                                    <p class="centered" style="font-size: 20px; z-index: 10;"><strong>关键词云</strong></p>
                                    <canvas id="cloud" style="position: center; width: 50%; height: 300px; z-index: -100;"></canvas>
                                </div>
                            </div>
                            <div id="transportAnalyze" class="eventComments centered" style="display: none">
                                <div class="eventTrend" id="eventTrend">
                                    <p class="centered" style="font-size: 20px; padding-top: 15px;"><strong>事件走势</strong></p>
                                    <img src="{% static 'assets0/img/eventTrend.png' %}" style="width: 80%; height: 80%;">
                                </div>
                                <div class="informSource" id="informSource">
                                    <p class="centered" style="font-size: 20px; padding-top: 15px;"><strong>信息来源</strong></p>
                                    <img src="{% static 'assets0/img/informSource.png' %}" style="width: 600px; height: 400px;">
                                </div>
                                <div id="mediaLiveness" class="mediaLiveness">
                                    <br><p class="centered" style="font-size: 20px; padding-top: 15px;"><strong>媒体活跃度</strong></p>
                                    <canvas id="mediaLivenessBar" style="height: 280px; width: 60%;"></canvas>
                                </div>
                                <div id="informTree" class="informTree">
                                    <br><p class="centered" style="font-size: 20px; padding-top: 15px;"><strong>信息传播过程</strong></p>
                                    <img src="{% static 'assets0/img/informTree.jpg' %}" style="width: 60%; height: 350px;">
                                </div>
                                <div id="informNet" class="infromNet">
                                    <br><p class="centered" style="font-size: 20px; padding-top: 15px;"><strong>信息传播网络</strong></p>
                                    <img src="{% static 'assets0/img/transportNet.png' %}" style="width: 60%; height: 350px;">
                                </div>
                            </div>
                            <div id="emotionAnalyze" class="eventComments centered" style="display: none" hidden="true">
                                <div id="eventJudeg_emotion" style="width: 100%; height: 400px;">
                                    <div id="eventJudge" style="width: 49%; margin-left: 1%; float: left;">
                                        <div id="statisticsEJ" style="width: 70%; margin-left: 25%;">
                                            <div class="pic" style="position: center; width: 100%; height: 100%;">
                                                <canvas id="serverstatusEJ" height="120px" width="120px"></canvas>
                                                <script>
                                                    var config = {
                                                        type: 'doughnut',
                                                        data:{
                                                            datasets:[{
                                                                data:[
                                                                    40,
                                                                    50,
                                                                    10,
                                                                ],
                                                                backgroundColor:[
                                                                    "#FFA500",
                                                                    "#666666",
                                                                    "#CC0000",
                                                                ],
                                                            }],
                                                            labels:[
                                                                "正面比例：",
                                                                "负面比例：",
                                                                "中性",
                                                            ],
                                                        },
                                                        options:{
                                                            cutoutPercentage: 60,
                                                            responsive: true,
                                                            legend:{
                                                                display: true,
                                                                position: "bottom",
                                                            },
                                                            title: {
                                                                display: true,
                                                                fontSize: 20,
                                                                fontColor: "#000000",
                                                                text: "事件正负面比例",
                                                            },
                                                            animation:{
                                                                animateScale: true,
                                                                animateRoatae: true
                                                            }
                                                        }
                                                    };
                                                    var myDoughnut = new Chart(document.getElementById("serverstatusEJ").getContext("2d"), config);
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="eventEmotion" style="width: 49%; margin-left: 1%; float: left;">
                                        <div id="statisticsEM" style="width: 70%; margin-left: 5%;">
                                            <div class="pic" style="position: center; width: 100%; height: 100%;">
                                                <canvas id="serverstatusEM" height="120px" width="120px"></canvas>
                                                <script>
                                                    var config = {
                                                        type: 'doughnut',
                                                        data:{
                                                            datasets:[{
                                                                data:[
                                                                    50,
                                                                    25,
                                                                    15,
                                                                    5,
                                                                    2.5,
                                                                    1.5,
                                                                    1
                                                                ],
                                                                backgroundColor:[
                                                                    "#FFA500",
                                                                    "#666666",
                                                                    "#3399CC",
                                                                    "#CC0000",
                                                                    "#33FF66",
                                                                    "#CCFFFF",
                                                                    "#9966FF",
                                                                ],
                                                            }],
                                                            labels:[
                                                                "喜悦",
                                                                "惊奇",
                                                                "中性",
                                                                "悲伤",
                                                                "愤怒",
                                                                "恐惧",
                                                                "其他",
                                                            ],
                                                        },
                                                        options:{
                                                            cutoutPercentage: 60,
                                                            responsive: true,
                                                            legend:{
                                                                display: true,
                                                                position: "bottom",
                                                            },
                                                            title: {
                                                                display: true,
                                                                fontSize: 20,
                                                                fontColor: "#000000",
                                                                text: "事件情绪占比",
                                                            },
                                                            animation:{
                                                                animateScale: true,
                                                                animateRoatae: true
                                                            }
                                                        }
                                                    };
                                                    var myDoughnut = new Chart(document.getElementById("serverstatusEM").getContext("2d"), config);
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="eventComments" id="emMap" style="height: 400px; padding-top: 10px;">
                                    <div id="emotionMap" style="width: 650px; height: 350px; margin-left: 15%;"></div>
                                </div>
                                <div class="emotionTrend" id="emotionTrendId">
                                    <canvas id="emotionLine"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <a href="/fileParticular/">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h4 style="float: left">相关文章1</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                </div>
                                <div class="panel-body mt" style="padding-left: 10px;">
                                    <div id="recommendx" class="recommend_news">
                                        <p>
                                            时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                        </p>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                    <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h4 style="float: left">相关文章2</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                </div>
                                <div class="panel-body mt" style="padding-left: 10px;">
                                    <div id="recommendx" class="recommend_news">
                                        <p>
                                            时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                        </p>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                    <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h4 style="float: left">相关文章3</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                </div>
                                <div class="panel-body mt" style="padding-left: 10px;">
                                    <div id="recommendx" class="recommend_news">
                                        <p>
                                            时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                        </p>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                    <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h4 style="float: left">相关文章4</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                </div>
                                <div class="panel-body mt" style="padding-left: 10px;">
                                    <div id="recommendx" class="recommend_news">
                                        <p>
                                            时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                        </p>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                    <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-lg-12">
                            <div class="content-panel">
                                <h4 style="float: left">相关文章5</h4>
                                <div class="funcInIndex">
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">点赞 1</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px;">评论 2</button>
                                    <button type="button" class="btn btn-warning" style="font-size: 10px; margin-right: 15px;">收藏 3</button>
                                </div>
                                <div class="panel-body mt" style="padding-left: 10px;">
                                    <div id="recommendx" class="recommend_news">
                                        <p>
                                            时间： 2017-10-20 &nbsp; &nbsp; &nbsp; 事件分类： 个人事件
                                        </p>
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-left: 10px; height: 100px;">
                                    <p class="to-much-p">测试测试测试测试测试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试
                                    试测试测试测试测试测试测试测试测试测试试测试测试测试测试测试测试测试测试测试</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer layui-bg-cyan" align="center">
    <!-- 底部固定区域 -->
    西安交通大学  社会智能与复杂数据处理实验室
    </div>
<script src="{% static 'assets0/js/jquery.js' %}"></script>
<script src="{% static 'assets0/js/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets0/dataTable/js/jquery.dataTables.js' %}" type="text/javascript"></script>
<script src="{% static 'assets0/js/fileJs/events.js' %}" type="text/javascript"></script>
<script src="//res.layui.com/layui/src/layui.js?t=1531663423583" charset="utf-8"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>
<script>
    window.onload = function () {
        eventsTable();
    };
</script>
</html>

</body>
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'assets0/js/jquery.js'%}"></script>
{#<script src="{% static 'assets0/js/jquery.nicescroll.js'%}" type="text/javascript"></script>#}
<script src="{% static 'assets0/js/jquery-1.8.3.min.js'%}"></script>
<script src="{% static 'assets0/js/bootstrap.min.js'%}"></script>
<script class="include" type="text/javascript" src="{% static 'assets0/js/jquery.dcjqaccordion.2.7.js'%}"></script>
<script src="{% static 'assets0/js/jquery.scrollTo.min.js'%}"></script>
<script src="{% static 'assets0/js/jquery.sparkline.js'%}"></script>

<script type="text/javascript" src="{% static 'assets0/js/gritter/js/jquery.gritter.js'%}"></script>
<script type="text/javascript" src="{% static 'assets0/js/gritter-conf.js'%}"></script>
<!--common script for all pages-->
<script src="{% static 'assets0/js/common-scripts.js'%}"></script>


<script>
    $(function(){
        function footerPosition(){
            $("footer").removeClass("fixed-bottom");
            var contentHeight = document.body.scrollHeight,//网页正文全文高度
                winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
            if(!(contentHeight > winHeight)){
                //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                $("footer").addClass("fixed-bottom");
            } else {
                $("footer").removeClass("fixed-bottom");
            }
        }
        footerPosition();
        $(window).resize(footerPosition);
    });
</script>
<script>
    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: 'heat',
                type: 'gauge',
                detail: {formatter:'{value}%'},
                data: [{value: 70, name: '事件热度'}]
            }
        ]
    };
    var chart = echarts.init(document.getElementById('heat'));
    chart.setOption(option);
</script>
<script>
    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: 'sensitive',
                type: 'gauge',
                detail: {formatter:'{value}%'},
                data: [{value: 50, name: '事件敏感度'}]
            }
        ]
    };
    var chart = echarts.init(document.getElementById('sensitive'));
    chart.setOption(option,true);
</script>
<script>
    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}%"
        },
        series: [
            {
                name: 'polarity',
                type: 'gauge',
                detail: {formatter:'{value}%'},
                data: [{value: 20, name: '事件极性'}]
            }
        ]
    };
    var chart = echarts.init(document.getElementById('polarity'));
    chart.setOption(option,true);
</script>
<script>
     var heatTrendCountData = {
         labels : ["January","February","March","April","May","June","July"],
         datasets : [{
             label: "全网信息数",
             fill: false,
             pointBackgroundColor: "#FF0000",
             borderColor: "#F08080",
             backgroundColor: "#F08080",
             data : [165,159,132,129,146,155,140]      //点的Y轴值
         },

             {
                 label: "热点文章数",
                 fill: false,
                 pointBackgroundColor: "#008000",
                 borderColor: "#32CD32",
                 backgroundColor: "#32CD32",
                 data : [32,44,22,99,33,22,4]      //点的Y轴值
             },
         {
                 label: "敏感文章数",
                 fill: false,
                 pointBackgroundColor: "#66CCFF",
                 borderColor: "#0033CC",
                 backgroundColor: "#0033CC",
                 data : [32,34,27,19,33,92,44]      //点的Y轴值
             }]
     };

    //定义图表的参数
    var heatTrendCountOptions = {
        title: {
            display: true,
            text: "事件走势统计",
            fontSize: 20,
            fontColor: "#000000",
        },
    };
    heatTrendCountconfig = {
        "type": "line",
        "data": heatTrendCountData,
        "options": heatTrendCountOptions,
    };
    var dataTime = {
     labels : ["January","February","March","April","May","June","July","August"],
     datasets : [{
         label: "热度指数",
         fill: false,
         pointBackgroundColor: "#FF0000",
         borderColor: "#F08080",
         backgroundColor: "#F08080",
         data : [11,159,250,330,1111,800,200,100]      //点的Y轴值
     }]
    };

    //定义图表的参数
    var optionsTime = {
        title: {
            display: true,
            text: "热度爆发统计",
            fontSize: 20,
            fontColor: "#000000",
        },
    };
    configTime = {
        "type": "line",
        "data": dataTime,
        "options": optionsTime,
    };
    var mediaLivenessData = {
     labels : ["新浪微博","微信","今日头条","中华网","新华网","凤凰网","新浪网","其他"],
     datasets : [{
         label: "媒体活跃度",
         data : [11552,9955,2550,1330,1111,800,200,100] ,
         backgroundColor: "#DAA520",
         borderColor: "#DAA520",
     }],
    };

    //定义图表的参数
    var mediaLivenessOptions = {
    };
    mediaLivenessConfig = {
        "type": "bar",
        "data": mediaLivenessData,
        "options": mediaLivenessOptions,
    };

    var emotionData = {
     labels : ["January","February","March","April","May","June","July"],
     datasets : [{
         label: "喜悦",
         fill: false,
         pointBackgroundColor: "#FF0000",
         borderColor: "#F08080",
         backgroundColor: "#F08080",
         data : [165,159,132,129,146,155,140]
     },

         {
             label: "中性",
             fill: false,
             pointBackgroundColor: "#008000",
             borderColor: "#32CD32",
             backgroundColor: "#32CD32",
             data : [32,44,22,99,33,22,4]
         },
     {
             label: "悲伤",
             fill: false,
             pointBackgroundColor: "#66CCFF",
             borderColor: "#0033CC",
             backgroundColor: "#0033CC",
             data : [32,34,27,19,33,92,44]
         },{
             label: "愤怒",
             fill: false,
             pointBackgroundColor: "#FF99CC",
             borderColor: "#FF6699",
             backgroundColor: "#FF6699",
             data : [12,21,17,9,13,12,4]      //点的Y轴值
         },{
             label: "惊奇",
             fill: false,
             pointBackgroundColor: "#FF9900",
             borderColor: "#FF6600",
             backgroundColor: "#FF6600",
             data : [5,8,9,6,2,14,1]      //点的Y轴值
         },{
             label: "恐惧",
             fill: false,
             pointBackgroundColor: "#00FF66",
             borderColor: "#33CC00",
             backgroundColor: "#33CC00",
             data : [2,1,2,2,0,1,1]      //点的Y轴值
         }]
    };

    //定义图表的参数
    var emotionOptions = {
        title: {
            display: true,
            text: "情绪走势统计",
            fontSize: 20,
            fontColor: "#000000",
        },
    };
    emotionConfig = {
        "type": "line",
        "data": emotionData,
        "options": emotionOptions,
    };

    window.onload = function(){
        new Chart(document.getElementById("heatTime"), configTime);
        new Chart(document.getElementById("heatTrendCount"), heatTrendCountconfig);
        new Chart(document.getElementById("mediaLivenessBar"), mediaLivenessConfig);
        new Chart(document.getElementById("emotionLine"), emotionConfig);
    };
</script>
<script>
    function randomData() {
        return Math.round(Math.random()*500);
    }

    var mydata = [
        {name: '北京',value: randomData() },{name: '天津',value: randomData() },
        {name: '上海',value: randomData() },{name: '重庆',value: randomData() },
        {name: '河北',value: randomData() },{name: '河南',value: randomData() },
        {name: '云南',value: randomData() },{name: '辽宁',value: randomData() },
        {name: '黑龙江',value: randomData() },{name: '湖南',value: randomData() },
        {name: '安徽',value: randomData() },{name: '山东',value: randomData() },
        {name: '新疆',value: randomData() },{name: '江苏',value: randomData() },
        {name: '浙江',value: randomData() },{name: '江西',value: randomData() },
        {name: '湖北',value: randomData() },{name: '广西',value: randomData() },
        {name: '甘肃',value: randomData() },{name: '山西',value: randomData() },
        {name: '内蒙古',value: randomData() },{name: '陕西',value: randomData() },
        {name: '吉林',value: randomData() },{name: '福建',value: randomData() },
        {name: '贵州',value: randomData() },{name: '广东',value: randomData() },
        {name: '青海',value: randomData() },{name: '西藏',value: randomData() },
        {name: '四川',value: randomData() },{name: '宁夏',value: randomData() },
        {name: '海南',value: randomData() },{name: '台湾',value: randomData() },
        {name: '香港',value: randomData() },{name: '澳门',value: randomData() }
    ];
    var optionHeat = {
        backgroundColor: '#DCDCDC',
        title: {
            text: '热度地图',
            subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: '{b}<br/>{c}'
        //    b为省份，c为数据
        },
        visualMap: {
            show : true,
            x: 'left',
            y: 'bottom',
            text: ['正面', '负面'],
            calculable: true,
            splitList: [
                {start: 500, end:600},{start: 400, end: 500},
                {start: 300, end: 400},{start: 200, end: 300},
                {start: 100, end: 200},{start: 0, end: 100},
            ],
            color: ['#00FF00', '#90EE90', '#ADFF2F','#FFFFE0', '#FFA07A', '#FF0000']
        },
        series: [{
            name: '随机数据',
            type: 'map',
            mapType: 'china',
            roam: false,
            label: {
                normal: {
                    show: false
                },
                emphasis: {
                    show: false
                }
            },
            data:mydata
        }]
    };
    var optionSensitive = {
        backgroundColor: '#DCDCDC',
        title: {
            text: '敏感度地图',
            subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: '{b}<br/>{c}'
        //    b为省份，c为数据
        },
        visualMap: {
            show : true,
            x: 'left',
            y: 'bottom',
            text: ['正面', '负面'],
            calculable: true,
            splitList: [
                {start: 500, end:600},{start: 400, end: 500},
                {start: 300, end: 400},{start: 200, end: 300},
                {start: 100, end: 200},{start: 0, end: 100},
            ],
            color: ['#00FF00', '#90EE90', '#ADFF2F','#FFFFE0', '#FFA07A', '#FF0000']
        },
        series: [{
            name: '随机数据',
            type: 'map',
            mapType: 'china',
            roam: false,
            label: {
                normal: {
                    show: false
                },
                emphasis: {
                    show: false
                }
            },
            data:mydata
        }]
    };
    var optionEmotion = {
        backgroundColor: '#DCDCDC',
        title: {
            text: '热度地图',
            subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: '{b}<br/>{c}'
        //    b为省份，c为数据
        },
        visualMap: {
            show : true,
            x: 'left',
            y: 'bottom',
            text: ['正面', '负面'],
            calculable: true,
            splitList: [
                {start: 500, end:600},{start: 400, end: 500},
                {start: 300, end: 400},{start: 200, end: 300},
                {start: 100, end: 200},{start: 0, end: 100},
            ],
            color: ['#00FF00', '#90EE90', '#ADFF2F','#FFFFE0', '#FFA07A', '#FF0000']
        },
        series: [{
            name: '随机数据',
            type: 'map',
            mapType: 'china',
            roam: false,
            label: {
                normal: {
                    show: false
                },
                emphasis: {
                    show: false
                }
            },
            data: mydata,
        }]
    };
    var chartHeat = echarts.init(document.getElementById('heatMap'));
    var chartSensitive = echarts.init(document.getElementById('sensitiveMap'));
    var emotionMap = echarts.init(document.getElementById('emotionMap'));
    emotionMap.setOption(optionEmotion)
    chartHeat.setOption(optionHeat);
    chartSensitive.setOption(optionSensitive);
</script>
<script>
    var list = [
        ['aaa', 12],
        ['ddd', 22],
        ['fff', 12],
        ['SE', 10],
        ['ee3e', 7],
        ['ff2f', 9],
        ['socialmind', 38],
        ['ee1e', 24],
        ['3fff', 16],
        ['XJTU', 34],
        ['e4ee', 23],
        ["Pear", 12],
        ["Grape", 22],
        ["Pine", 27],
        ["Banana", 19],
        ["Lemon", 5],
        ["Parigi", 15],
        ["Apple", 12]
        ["Mear", 21],
        ["Torino", 13],
        ["Mescola", 17],
        ["Gigi", 7],
        ["Roma", 6],
        ["Empoli", 5],
        ["Mela", 25]
        ["Alessandro", 15],
        ["Imola", 4],
        ["Hp", 14],
        ["Harry", 8],
        ["Potter", 18],
        ["Amsterdam", 15],
        ["Como", 8]
    ];
    var option = {
        list: list,
        color: "random-dark",
        shape: "cardioid",
        fontWeight: "bold",
        backgroundColor: "#DCDCDC",
    };
    WordCloud(document.getElementById("cloud"), option);
</script>
<script>
    function changePage(value){

        if(value=="open0"){
            document.getElementById("eventExponent").style.display = 'none';
            document.getElementById("change0").value = 'close0';
            document.getElementById("change0").setAttribute("class", "btn btn-warning event3Buttons");
            return;
        }
        else if(value=="close0"){
            document.getElementById("transportAnalyze").style.display = 'none';
            document.getElementById("change1").value = 'close1';
            document.getElementById("change1").setAttribute("class", "btn btn-warning event3Buttons");
            document.getElementById("emotionAnalyze").style.display = 'none';
            document.getElementById("change2").value = 'close2';
            document.getElementById("change2").setAttribute("class", "btn btn-warning event3Buttons");
            document.getElementById("eventExponent").style.display = 'block';
            document.getElementById("change0").value = 'open0';
            document.getElementById("change0").setAttribute("class", "btn btn-theme04 event3Buttons");
            return;
        }
        if(value=="open1"){
            document.getElementById("transportAnalyze").style.display = 'none';
            document.getElementById("change1").value = 'close1';
            document.getElementById("change1").setAttribute("class", "btn btn-warning event3Buttons");
            return;
        }
        else if(value=='close1'){
            document.getElementById("emotionAnalyze").style.display = 'none';
            document.getElementById("change2").value = 'close2';
            document.getElementById("change2").setAttribute("class", "btn btn-warning event3Buttons");
            document.getElementById("eventExponent").style.display = 'none';
            document.getElementById("change0").value = 'close0';
            document.getElementById("change0").setAttribute("class", "btn btn-warning event3Buttons");
            document.getElementById("transportAnalyze").style.display = 'block';
            document.getElementById("change1").value = 'open1';
            document.getElementById("change1").setAttribute("class", "btn btn-theme04 event3Buttons");
            return;
        }
        if(value=="open2"){
            document.getElementById("emotionAnalyze").style.display = 'none';
            document.getElementById("change2").value = 'close2';
            document.getElementById("change2").setAttribute("class", "btn btn-warning event3Buttons");
            return;
        }
        else if(value=='close2'){
            document.getElementById("transportAnalyze").style.display = 'none';
            document.getElementById("change1").value = 'close1';
            document.getElementById("change1").setAttribute("class", "btn btn-warning event3Buttons");
            document.getElementById("eventExponent").style.display = 'none';
            document.getElementById("change0").value = 'close0';
            document.getElementById("change0").setAttribute("class", "btn btn-warning event3Buttons");
            document.getElementById("emotionAnalyze").style.display = 'block';
            document.getElementById("change2").value = 'open2';
            document.getElementById("change2").setAttribute("class", "btn btn-theme04 event3Buttons");
            return;
        }
    }
</script>
</html>