<form class="form-login" id="sing_in" action="login.html" enctype="multipartform-data" onsubmit="return beforeSigned()">
    <h2 class="form-login-heading">欢迎注册</h2>
    <div class="login-wrap" id="choiced">
        <p>请选择用户类型：</p>
        <select id="type" name="用户类型选择" class="form-control" autofocus>
            <option value="none" selected>---请选择---</option>
            <option value="0">个人用户</option>
            <option value="1">企业用户</option>
            <option value="2">政府用户</option>
            <option value="3">事业单位用户</option>
        </select><br>
        <button class="btn btn-theme btn-block" type="button">
            <i class="fa fa-lock"></i>
            &nbsp; &nbsp;确定
        </button>
        <button class="btn btn-theme btn-block" type="button" onclick="exitt()">
            <i class="fa fa-lock"></i>
            &nbsp; &nbsp;取消
        </button>
    </div>
</form>
<script>
    $(document).click(function(){
        $("#type").change(function(){
            var choice = $("#type option:selected").val();
            if(choice == "0"){
                $("#choiced").replaceWith("<div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"用户类型选择\" class=\"form-control\">\n" +
                    "            <option value=\"0\" selected>个人用户</option>\n" +
                    "            <option value=\"1\">企业用户</option>\n" +
                    "            <option value=\"2\">政府用户</option>\n" +
                    "            <option value=\"3\">事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>请选择性别：<span style=\"color:red\">*</span></p>\n" +
                    "        <select name=\"性别\" class=\"form-control\">\n" +
                    "            <option>男</option>\n" +
                    "            <option>女</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请选择生日：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"date\" class=\"form-control\" placeholder=\"生日\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>请输入手机号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"请输入您的手机号\" autofocus required=\"true\"><br>\n" +
                    "        <p>请输入邮箱： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"请输入您的邮箱\" autofocus required=\"true\"><br>\n" +
                    "        <p>请选择地区： </p>\n" +
                    "        <select id=\"province\" name=\"省\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择省份--</option>\n" +
                    "        </select>\n" +
                    "\n" +
                    "        <select id=\"city\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择城市--</option>\n" +
                    "        </select>\n" +
                    "        <select id=\"country\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择区县--</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入您的职业：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"请输入您的职业\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <p>请输入您的兴趣：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"请输入您的兴趣兴趣\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">"+
                    "           <i class=\"fa fa-lock\"></i>"+
                    "               &nbsp; &nbsp;取消"+
                    "        </button>"+
                    "    </div>")
            };
            if(choice == "1"){
                $("#choiced").replaceWith("<div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"用户类型选择\" class=\"form-control\">\n" +
                    "            <option value=\"0\">个人用户</option>\n" +
                    "            <option value=\"1\" selected>企业用户</option>\n" +
                    "            <option value=\"2\">政府用户</option>\n" +
                    "            <option value=\"3\">事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>企业法人代表名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"企业法人代表名\" required=\"true\"><br>\n" +
                    "        <p>企业法人身份证号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"企业法人身份证号\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>企业法人身份证正面：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\"><br>\n" +
                    "        <p>企业法人身份证背面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\"><br>\n" +
                    "        <p>企业名称： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"企业名称\" autofocus required=\"true\"><br>\n" +
                    "        <p>企业类型： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"企业类型\" autofocus required=\"true\"><br>\n" +
                    "        <p>营业执照： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" placeholder=\"营业执照\" autofocus required=\"true\"><br>\n" +
                    "        <p>请选择省市：</p>\n" +
                    "        <select id=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择省份--</option>\n" +
                    "        </select>\n" +
                    "        <select id=\"city\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择城市--</option>\n" +
                    "        </select>\n" +
                    "        <select id=\"country\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择区县--</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入企业邮箱：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"请输入企业邮箱\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">\n"+
                    "           <i class=\"fa fa-lock\"></i>\n"+
                    "               &nbsp; &nbsp;取消\n"+
                    "        </button>\n"+
                    "    </div>");
            };
            if(choice == "2") {
                $("#choiced").replaceWith("    <div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"用户类型选择\" class=\"form-control\">\n" +
                    "            <option value=\"0\">个人用户</option>\n" +
                    "            <option value=\"1\">企业用户</option>\n" +
                    "            <option value=\"2\" selected>政府用户</option>\n" +
                    "            <option value=\"3\">事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>政府法人代表名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"政府法人代表名\" required=\"true\"><br>\n" +
                    "        <p>政府法人代表身份证号： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"政府法人代表身份证号\" autofocus required=\"true\"><br>\n" +
                    "        <p>政府机构名称：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"政府机构名称\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>政府机构类型：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"政府机构类型\" autofocus required=\"true\"><br>\n" +
                    "        <p>组织机构代码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"组织机构代码\" autofocus required=\"true\"><br>\n" +
                    "        <p>上传政府法人代表身份证正面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_0\"><br>\n" +
                    "        <p>上传政府法人代表身份证反面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_1\"><br>\n" +
                    "        <p>上传组织机构照片： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"gover_pic\"><br>\n" +
                    "        <p>请选择所在地图： <span style=\"color:red\">*</span></p>\n" +
                    "        <select id=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择所在地区省份--</option>\n" +
                    "        </select>\n" +
                    "        <p>请输入邮箱：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"邮箱\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">\n"+
                    "           <i class=\"fa fa-lock\"></i>\n"+
                    "               &nbsp; &nbsp;取消\n"+
                    "        </button>\n"+
                    "    </div>\n")
            };
            if(choice == "3"){
                $("#choiced").replaceWith("<div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"用户类型选择\" class=\"form-control\">\n" +
                    "            <option value=\"0\">个人用户</option>\n" +
                    "            <option value=\"1\">企业用户</option>\n" +
                    "            <option value=\"2\">政府用户</option>\n" +
                    "            <option value=\"3\" selected>事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>事业单位法人代表名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"事业单位法人代表名\" required=\"true\"><br>\n" +
                    "        <p>事业单位法人代表身份证号： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"事业单位法人代表身份证号\" autofocus required=\"true\"><br>\n" +
                    "        <p>事业单位机构名称：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"事业单位机构名称\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>事业单位机构类型：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"事业单位机构类型\" autofocus required=\"true\"><br>\n" +
                    "        <p>事业单位机构编号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"组织机构编号\" autofocus required=\"true\"><br>\n" +
                    "        <p>上传事业单位法人代表身份证正面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_00\"><br>\n" +
                    "        <p>上传事业单位法人代表身份证反面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_01\"><br>\n" +
                    "        <p>上传事业单位登记照片： <span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"ins_pic\"><br>\n" +
                    "        <p>请选择所在地图： <span style=\"color:red\">*</span></p>\n" +
                    "        <select id=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择所在地区省份--</option>\n" +
                    "        </select>\n" +
                    "        <p>请输入邮箱：<span style=\"color:red\">*</span></p>\n" +
                    "        <input type=\"text\" class=\"form-control\" placeholder=\"邮箱\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">\n"+
                    "           <i class=\"fa fa-lock\"></i>\n"+
                    "               &nbsp; &nbsp;取消\n"+
                    "        </button>\n"+
                    "    </div>")
            };
        });
    });
</script>
<script>
    $("#province").change(function(){
        var curProvince = $(this).val();
        if(curProvince !== ""){

        }
        else {
            $("#city").empty().append('<option value="">--请选择城市--</option>');
            $("#county").empty().append('<option value="">--请选择地区--</option>');
        }

    });
    $("#city").change(function(){
        var curCity = $(this).val();
        if(curProvince !== ""){

        }
        else {
            $("#city").empty().append('<option value="">--请选择城市--</option>');
            $("#county").empty().append('<option value="">--请选择地区--</option>');
        }

    })
</script>
<script>
    function beforeSigned(){
        alert("注册成功！")
    }
</script>
<script>
    function exitt(){
        location.reload();
    }
</script>
<script>
    var adress ={}
    $(function () {

        $.ajax(
              {
                 url:'/get_address/',
                 type:'GET',
                  success:function (data) {
                      {#console.log(data)#}
                      adress = data
                  }

              }

          )
    })
    $(document).click(function () {

        $("#type").change(function () {
            $("#city").hide()
            $("#country").hide()
            console.log(adress)
            for(var i in adress['data'])
            {
                 $("#province").append('<option value='+i+'>'+i+'</option>');}
        })
    })
    var selectedprovince =''
    $(document).click(function () {
        $("#province").change(function () {
            $("#province option[value=\"\"]").remove()
            var selected = $("#province").val()
            selectedprovince=selected
            if(selected){
                $("#city").show()
                $("#city").empty()
                var cities = adress['data'][selected]
               for(var i in cities){
                $("#city").append('<option value='+i+'>'+i+'</option>');
            }


        }
        else {
            $("#city").hide()
        }
        })
    })
    $(document).click(function () {
        $("#city").change(function () {
            var selected = $("#city").val()
             $("#country").show()
             $("#country").empty()
             var countries = adress['data'][selectedprovince][selected]
            for(var i in countries){
            $("#country").append('<option value='+countries[i]+'>'+countries[i]+'</option>');
        }
        })
    })
</script>