{% load staticfiles %}
{% load visitor_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请您登陆</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets0/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets0/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="{% static 'assets0/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets0/layui/css/layui.css' %}"/>
    <script type="text/javascript" src="{% static 'assets0/js/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets0/js/messages_zh.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets0/js/jquery.js' %}"></script>
</head>
<body>
<script src="http://apps.bdimg.com/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://www.dawnfly.cn/Public/admin/dialog/layer.js"></script>
<div class="container">
    <div class="headerFont">
        <h1 style="color: #DAA520; margin-top: 100px;">SOCIAL MIND 舆情管理平台</h1>
        <p style="color: #DAA520;">西安交通大学SICDP实验室</p>
    </div>
    <form name="signin" class="form-login" id="sign_in" method="post" action="/signin/" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-login-heading">欢迎注册</h2>
        <div class="login-wrap" id="choiced">
            <p>请选择用户类型：</p>
            <select id="type" name="用户类型选择" class="form-control" autofocus>
                <option value="none" selected>---请选择---</option>
                <option value="0">个人用户</option>
                <option value="1">企业用户</option>
                <option value="2">政府用户</option>
                <option value="3">事业单位用户</option>
            </select><br>
            <button class="btn btn-theme btn-block" type="button" onclick="sub()">
                <i class="fa fa-lock"></i>
                &nbsp; &nbsp;确定
            </button>
            <button class="btn btn-theme btn-block" type="button" onclick="exitt()">
                <i class="fa fa-lock"></i>
                &nbsp; &nbsp;取消
            </button>
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">


{#                {% get_topic as topics %}#}
{#                {% for topic in topics %}#}
{#                    <button class="layui-btn layui-btn-primary layui-btn-radius" onclick="change(this)"#}
{#                            value="{{ topic.name }}">{{ topic.name }}#}
{#                    </button>#}
{#                {% empty %}#}
{##}
{#                {% endfor %}#}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="save()">确定</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{% static 'assets0/js/jquery.js' %}"></script>
<script src="{% static 'assets0/js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets0/js/jquery.backstretch.min.js' %}"></script>
<script>
    $.backstretch("{% static 'assets0/img/bg.jpg' %}", {speed: 0});
</script>
<script>
    $(document).click(function () {
        $("#type").change(function () {
            var choice = $("#type option:selected").val();
            if (choice == "0") {
                $("#choiced").replaceWith("<div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"user-type\" class=\"form-control\">\n" +
                    "            <option value=\"0\" selected>个人用户</option>\n" +
                    "            <option value=\"1\">企业用户</option>\n" +
                    "            <option value=\"2\">政府用户</option>\n" +
                    "            <option value=\"3\">事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input id='username' name='username' type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input id='pwd'name='pwd'type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input id='repwd'name='repwd'type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>请选择性别：<span style=\"color:red\">*</span></p>\n" +
                    "        <select name=\"sex\" class=\"form-control\">\n" +
                    "            <option value = '1'>男</option>\n" +
                    "            <option value = '0'>女</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请选择生日：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='birthday' type=\"date\" class=\"form-control\" placeholder=\"生日\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>请输入真实姓名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='realname' type=\"text\" class=\"form-control\" placeholder=\"请输入真实姓名\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>请输入身份证号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcard' type=\"text\" class=\"form-control\" placeholder=\"请输入身份证号\" style=\"width: 100%\"; step=\"day\"><br>\n" +

                    "        <p>请输入手机号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='phone' type=\"text\" class=\"form-control\" placeholder=\"请输入您的手机号\" autofocus required=\"true\"><br>\n" +
                    "        <p>请输入邮箱： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='email' type=\"email\" class=\"form-control\" placeholder=\"请输入您的邮箱\" autofocus required=\"true\"><br>\n" +
                    "        <p>请选择地区： </p>\n" +
                    "        <select id=\"province\" name=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择省份--</option>\n" +
                    "        </select>\n" +
                    "\n" +
                    "        <select name='city' id=\"city\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择城市--</option>\n" +
                    "        </select>\n" +
                    "        <select name='country' id=\"country\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择区县--</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入您的职业：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='job' type=\"text\" class=\"form-control\" placeholder=\"请输入您的职业\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <p>请输入您的兴趣：<span style=\"color:red\">*</span></p>\n" +
                    "        <input onclick= 'pop()' id='interest' name='interest' type=\"text\" class=\"form-control\" placeholder=\"请输入您的兴趣\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"sub()\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">" +
                    "           <i class=\"fa fa-lock\"></i>" +
                    "               &nbsp; &nbsp;取消" +
                    "        </button>" +
                    "    </div>")
            }
            ;
            if (choice == "1") {
                $("#choiced").replaceWith("<div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"user-type\" class=\"form-control\">\n" +
                    "            <option value=\"0\">个人用户</option>\n" +
                    "            <option value=\"1\" selected>企业用户</option>\n" +
                    "            <option value=\"2\">政府用户</option>\n" +
                    "            <option value=\"3\">事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input id='username' name='username' type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input id='pwd' name='pwd' type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input id='repwd' name='repwd' type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>真实姓名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='realname' type=\"text\" class=\"form-control\" placeholder=\"真实姓名\" required=\"true\"><br>\n" +
                    "        <p>身份证号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcard' type=\"text\" class=\"form-control\" placeholder=\"身份证号\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>身份证正面：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcardA' type=\"file\" class=\"form-control\" autofocus required=\"true\"><br>\n" +
                    "        <p>身份证背面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcardB' type=\"file\" class=\"form-control\" autofocus required=\"true\"><br>\n" +
                    "        <p>企业名称： <span style=\"color:red\">*</span></p>\n" +

                    "        <input name='companyname' type=\"text\" class=\"form-control\" placeholder=\"企业名称\" autofocus required=\"true\"><br>\n" +
                    "        <p>企业类型： <span style=\"color:red\">*</span></p>\n" +
                    "        <select name='companytype' id=\"companytype\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>有限责任公司</option>\n" +
                    "            <option>股份有限公司</option>\n" +
                    "            <option>个人独资企业</option>\n" +
                    "            <option>合伙企业</option>\n" +
                    "            <option>全民所有制企业</option>\n" +
                    "            <option>集体所有制企业</option>\n" +

                    "        </select><br>\n" +
                    "        <p>营业执照编码： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='licenceid' type=\"text\" class=\"form-control\" placeholder=\"营业执照编码\" autofocus required=\"true\"><br>\n" +
                    "        <p>营业执照： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='licence' type=\"file\" class=\"form-control\" placeholder=\"营业执照\" autofocus required=\"true\"><br>\n" +
                    "        <p>成立日期：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='birthday' type=\"date\" class=\"form-control\" placeholder=\"成立日期\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>登记机关： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='register_ins' type=\"text\" class=\"form-control\" placeholder=\"登记机关\" autofocus required=\"true\"><br>\n" +
                    "        <p>经营范围： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='shop_scope' type=\"text\" class=\"form-control\" placeholder=\"经营范围\" autofocus required=\"true\"><br>\n" +

                    "        <p>请选择省市：</p>\n" +
                    "        <select name='province' id=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择省份--</option>\n" +
                    "        </select>\n" +
                    "        <select name='city' id=\"city\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +

                    "        </select>\n" +
                    "        <select name='country' id=\"country\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +

                    "        </select><br>\n" +
                    "        <p>请输入邮箱：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='email' type=\"email\" class=\"form-control\" placeholder=\"请输入邮箱\" style=\"width: 100%\" required=\"true\"><br>\n" +
                    "        <p>关注领域： <span style=\"color:red\">*</span></p>\n" +
                    "        <input onclick= 'pop()' id= 'interest' name='interest' type=\"text\" class=\"form-control\" placeholder=\"关注领域\" autofocus required=\"true\"><br>\n" +

                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">\n" +
                    "           <i class=\"fa fa-lock\"></i>\n" +
                    "               &nbsp; &nbsp;取消\n" +
                    "        </button>\n" +
                    "    </div>");
            }
            ;
            if (choice == "2") {
                $("#choiced").replaceWith("    <div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"user-type\" class=\"form-control\">\n" +
                    "            <option value=\"0\">个人用户</option>\n" +
                    "            <option value=\"1\">企业用户</option>\n" +
                    "            <option value=\"2\" selected>政府用户</option>\n" +
                    "            <option value=\"3\">事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='username' type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='pwd' type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='repwd' type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>真实姓名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='realname' type=\"text\" class=\"form-control\" placeholder=\"真实姓名\" required=\"true\"><br>\n" +
                    "        <p>身份证号： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcard' type=\"text\" class=\"form-control\" placeholder=\"身份证号\" autofocus required=\"true\"><br>\n" +
                    "        <p>政府机构名称：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='gov-name' type=\"text\" class=\"form-control\" placeholder=\"政府机构名称\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>政府机构类型：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='gov-type' type=\"text\" class=\"form-control\" placeholder=\"政府机构类型\" autofocus required=\"true\"><br>\n" +
                    "        <p>组织机构代码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='gov-code' type=\"text\" class=\"form-control\" placeholder=\"组织机构代码\" autofocus required=\"true\"><br>\n" +
                    "        <p>身份证正面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcardA' type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_0\"><br>\n" +
                    "        <p>身份证反面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcardB' type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_1\"><br>\n" +

                    "        <p>请选择地址： <span style=\"color:red\">*</span></p>\n" +
                    "        <select name='province' id=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择所在地区省份--</option>\n" +
                    "        </select>\n" +
                    "    <select name='city' id=\"city\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +

                    "        </select>\n" +
                    "        <select name='country' id=\"country\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +

                    "        </select><br>\n" +
                    "        <p>请输入邮箱：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='mail' type=\"email\" class=\"form-control\" placeholder=\"邮箱\" style=\"width: 100%\" required=\"true\"><br>\n" +
                     "        <p>关注领域： <span style=\"color:red\">*</span></p>\n" +
                    "        <input onclick= 'pop()' id= 'interest' name='interest' type=\"text\" class=\"form-control\" placeholder=\"关注领域\" autofocus required=\"true\"><br>\n" +

                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">\n" +
                    "           <i class=\"fa fa-lock\"></i>\n" +
                    "               &nbsp; &nbsp;取消\n" +
                    "        </button>\n" +
                    "    </div>\n")
            }
            ;
            if (choice == "3") {
                $("#choiced").replaceWith("<div class=\"login-wrap\" id=\"choiced\">\n" +
                    "        <p>请选择用户类型：</p>\n" +
                    "        <select id=\"type\" name=\"user-type\" class=\"form-control\">\n" +
                    "            <option value=\"0\">个人用户</option>\n" +
                    "            <option value=\"1\">企业用户</option>\n" +
                    "            <option value=\"2\">政府用户</option>\n" +
                    "            <option value=\"3\" selected>事业单位用户</option>\n" +
                    "        </select><br>\n" +
                    "        <p>请输入用户名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='username' type=\"text\" class=\"form-control\" placeholder=\"用户名\" autofocus required=\"true\">\n" +
                    "        <br>\n" +
                    "        <p>请输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='pwd' type=\"password\" class=\"form-control\" placeholder=\"密码\" required=\"true\"><br>\n" +
                    "        <p>请再次输入密码：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='repwd' type=\"password\" class=\"form-control\" placeholder=\"请再次输入密码\" required=\"true\"><br>\n" +
                    "        <p>真实姓名：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='realname' type=\"text\" class=\"form-control\" placeholder=\"真实姓名\" required=\"true\"><br>\n" +
                    "        <p>身份证号： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcard' type=\"text\" class=\"form-control\" placeholder=\"身份证号\" autofocus required=\"true\"><br>\n" +
                    "        <p>事业单位机构名称：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='in-name' type=\"text\" class=\"form-control\" placeholder=\"事业单位机构名称\" style=\"width: 100%\"; step=\"day\"><br>\n" +
                    "        <p>事业单位机构级别：<span style=\"color:red\">*</span></p>\n" +
                    "        <select name='in-level' id=\"in-level\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>中央直属事业单位</option>\n" +
                    "            <option>全国人大直属事业单位</option>\n" +
                    "            <option>国务院直属事业单位</option>\n" +
                    "            <option>全国政协直属事业单位</option>\n" +
                    "            <option>最高人民法院直属事业单位</option>\n" +
                    "            <option>最高人民检察院直属事业单位</option>\n" +
                    "            <option>民主党派机关直属事业单位</option>\n" +
                    "            <option>人民团体机关直属事业单位</option>\n" +
                    "            <option>部属事业单位</option>\n" +
                    "            <option>其他</option>\n" +
                    "        </select><br>\n" +

                    "        <p>事业单位机构类型：<span style=\"color:red\">*</span></p>\n" +
                    "        <select name='in-type' id=\"in-type\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>教育事业单位</option>\n" +
                    "            <option>科技事业单位</option>\n" +
                    "            <option>文化事业单位</option>\n" +
                    "            <option>卫生事业单位</option>\n" +
                    "            <option>社会福利事业单位</option>\n" +
                    "            <option>体育事业单位</option>\n" +
                    "            <option>交通事业单位</option>\n" +
                    "            <option>城市公用事业单位</option>\n" +
                    "            <option>农林牧渔水事业单位</option>\n" +
                    "            <option>信息咨询事业单位</option>\n" +
                    "            <option>中介服务事业单位</option>\n" +
                    "            <option>勘察设计事业单位</option>\n" +
                    "            <option>地震测防事业单位</option>\n" +
                    "            <option>海洋事业单位</option>\n" +
                    "            <option>环境保护事业单位</option>\n" +
                    "            <option>检验检测事业单位</option>\n" +
                    "            <option>知识产权事业单位</option>\n" +
                    "            <option>机关后勤服务事业单位</option>\n" +
                    "            <option>其他</option>\n" +
                    "        </select><br>\n" +
                    "        <p>事业单位机构编号：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='in-code' type=\"text\" class=\"form-control\" placeholder=\"事业单位机构编号\" autofocus required=\"true\"><br>\n" +
                    "        <p>上传身份证正面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcardA' type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_00\"><br>\n" +
                    "        <p>上传身份证反面： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='idcardB' type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"id_card_01\"><br>\n" +
                    "        <p>上传事业单位登记照片： <span style=\"color:red\">*</span></p>\n" +
                    "        <input name='in-photo' type=\"file\" class=\"form-control\" autofocus required=\"true\" id=\"ins_pic\"><br>\n" +
                    "<p>请选择地址： <span style=\"color:red\">*</span></p>\n" +
                    "        <select name='province' id=\"province\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +
                    "            <option>--选择所在地区省份--</option>\n" +
                    "        </select>\n" +
                    "    <select name='city' id=\"city\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +

                    "        </select>\n" +
                    "        <select name='country' id=\"country\" class=\"form-control\" style=\"margin-top: 5px;\">\n" +

                    "        </select><br>\n" +
                    "        <p>请输入邮箱：<span style=\"color:red\">*</span></p>\n" +
                    "        <input name='email' type=\"email\" class=\"form-control\" placeholder=\"邮箱\" style=\"width: 100%\" required=\"true\"><br>\n" +
                     "        <p>关注领域： <span style=\"color:red\">*</span></p>\n" +
                    "        <input onclick= 'pop()' id= 'interest' name='interest' type=\"text\" class=\"form-control\" placeholder=\"关注领域\" autofocus required=\"true\"><br>\n" +

                    "        <button class=\"btn btn-theme btn-block\" type=\"submit\">\n" +
                    "            <i class=\"fa fa-lock\"></i>\n" +
                    "            &nbsp; &nbsp;确定\n" +
                    "        </button>\n" +
                    "        <button class=\"btn btn-theme btn-block\" type=\"button\" onclick=\"exitt()\">\n" +
                    "           <i class=\"fa fa-lock\"></i>\n" +
                    "               &nbsp; &nbsp;取消\n" +
                    "        </button>\n" +
                    "    </div>")
            }
            ;
        });
    });
</script>

<script>
    function sub() {
        var pwd = $("#pwd").val();
        var repwd = $("#repwd").val();
        var form = document.getElementById('sign_in')
        console.log(form)
        var cansub = true
        {#for (var i = 0; i < form.length; i++) {#}
        {#    if (form.elements[i].value == "") {#}
        {#        layer.msg(form.elements[i].title + 'bunengweikong ')#}
        {#        form.elements[i].focus()#}
        {#        cansub = false#}
        {#    }#}

        if (cansub) {


            if (pwd != repwd) {
                layer.msg('两次密码输入不一致')

            }
            else {
                var username = $("#username").val()
                if (username == '') {
                    layer.msg('用户名不能为空')
                    return
                }
                if (pwd == '') {
                    layer.msg('密码不能为空')
                    return
                }
                var msg = 0
                $.ajax(
                    {
                        url: '/checkuser/',
                        type: 'POST',
                        data: {'user': username},
                        success: function (data) {
                            msg = data['msg']
                            if (msg == 0) {
                                layer.msg('用户名已存在')
                            }
                            else {
                                document.signin.submit()

                            }
                        }
                    }
                )
            }
        }
    }
</script>
<script>
    function exitt() {
        window.location.href = "/login/";
    }
</script>
<script>
    function pop() {
        console.log('aaaa')
        $("#myModal").modal('show')
    }
</script>
<script>
    var adress = {}
    $(function () {
        $.ajax(
            {
                url: '/get_address/',
                type: 'GET',
                success: function (data) {
                    {#console.log(data)#}
                    adress = data
                }
            }
        )
    })
    $(document).click(function () {

        $("#type").change(function () {
            $("#city").hide()
            $("#country").hide()
            $("#province").empty()
            console.log(adress)
            for (var i in adress['data']) {
                $("#province").append('<option value=' + i + '>' + i + '</option>');
            }
        })
    })
    var selectedprovince = ''
    $(document).click(function () {
        $("#province").change(function () {
            $("#province option[value=\"\"]").remove()
            var selected = $("#province").val()
            selectedprovince = selected
            if (selected) {
                $("#city").show()
                $("#city").empty()
                var cities = adress['data'][selected]
                for (var i in cities) {
                    $("#city").append('<option value=' + i + '>' + i + '</option>');
                }
            }
            else {
                $("#city").hide()
            }
        })
    })
    $(document).click(function () {
        $("#city").change(function () {
            var selected = $("#city").val()
            $("#country").show()
            $("#country").empty()
            var countries = adress['data'][selectedprovince][selected]
            for (var i in countries) {
                $("#country").append('<option value=' + countries[i] + '>' + countries[i] + '</option>');
            }
        })
    })
    var interest = new Array()

    function change(obj) {
        console.log("111")
        if ($(obj).hasClass("layui-bg-blue")) {
            $(obj).removeClass("layui-bg-blue")
            var index = interest.indexOf($(obj).val())
            interest.splice(index, 1)
        }
        else {
            $(obj).addClass("layui-bg-blue");
            interest.push($(obj).val())
        }

    }

    function save() {
        $('#myModal').modal('toggle')
        console.log(interest)
        $('#interest').attr('value', interest)
    }
</script>
</html>