{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'backgroundfiles/assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'backgroundfiles/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static 'backgroundfiles/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'backgroundfiles/assets/css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'backgroundfiles/css/maruti-style.css' %}" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'backgroundfiles/assets/js/jquery-3.3.1.min.js' %}"></script>
    <style>
        .image-caption {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #999;
}
div.comment-item {
    margin-bottom: 1em;
    word-break: break-word;
}
    </style>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/bindex/" class="logo"><b>SocialMind管理员</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-tasks"></i>
                            个人中心
                        </a>
                    </li>
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-envelope-o"></i>
                            消息
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-zac.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-divya.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-danro.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-sherman.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-cog"></i>
                            设置
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here..." aria-describedby="basic-addon2" style="height: 28px;margin-top: 7px">
                            <button type="submit" class="btn btn-default" style="height:28px;border: 1px solid #666666 !important;-webkit-border-radius: 4px;background-color: #ffd777;margin-right: 10px;margin-top: 7px;color: #666666;border-radius: 4px;">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                        </form>
                    </li>
                    <li><a class="logout" href="/login/">注销</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="/bindex/"><img src="{% static 'backgroundfiles/assets/img/ny.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><a href="/bindex/" style="color: white">首页</a></h5>
              	  	
                  <!--<li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>爬虫</span>
                      </a>
                  </li>-->
                  <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-dashboard"></i>
                        <span>爬虫</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/SpiderList/">爬虫管理</a></li>
                        <li><a  href="/SpiderMonitor/">爬虫监控</a></li>
                        <li><a  href="/SpiderConfigure/">爬虫配置</a></li>
                    </ul>
                  </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="active">
                        <i class="fa fa-tasks"></i>
                        <span>源数据展示模块</span>
                    </a>
                    <ul class="sub">
                      <li><a  href="/Author/">作者管理</a></li>
                      <li><a  href="/ArticlesOfAuthor/" style="color: #fff;">查看作者相关文章</a></li>
                      <script>
                            $(document).ready(function(){
                                $("li:not([class])>a:not(a:contains('查看作者相关文章'))").hover(function(){
                                    $("a:contains('查看作者相关文章')").removeAttr("style")
                                });
                            });
                      </script>
                      <li><a href="/articlelist/">文章管理</a></li>
                  </ul>
                </li>
                  <li class="sub-menu">
                      <a href="javascript:;">
                          <i class="fa fa-desktop"></i>
                          <span>数据清洗</span>
                      </a>
                      <ul class="sub">
                          <!-- <li><a  href="/DataCleanStatistics/">清洗数据统计</a></li> -->
                          <li><a  href="/DataCleanStrategies/">数据清洗策略配置</a></li>
                          <li><a  href="/DataCleanLog/">数据清洗日志管理</a></li>
                          <li><a  href="/washData/">数据清洗</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="/topics/">
                        <i class="fa fa-book"></i>
                        <span>主题管理</span>
                    </a>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        <span>舆情对象管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/AddEventObject/">新增舆情对象</a></li>
                        <li><a  href="/CreateEventObject/">舆情对象自动生成</a></li>
                        <li><a  href="/ShowEventObject/">舆情对象展示</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>语义工具集</span>
                    </a>
                    <ul class="sub">
                      <li><a  href="/semanticsTools/">新增语义工具</a></li>
                      <li><a  href="/semanticsToolkits/">新增工具包</a></li>
                      <li><a  href="/ShowToolkits/">工具包展示</a></li>
                    </ul>
                  </li>
                  <!--<li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>系统操作管理</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">系统用户评论管理</a></li>
                          <li><a  href="responsive_table.html">系统用户操作管理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>用户管理</span>
                      </a>
                  </li>-->
                  <li class="sub-menu">
                   <a href="/usrCommentsSelect/" >                         <i class="fa fa-th"></i>                         <span>用户留言管理</span>                     </a>

                  </li>
                <li class="sub-menu">
                    <a href="/AssignAuthorities/" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>权限管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/usrManagement/" >                         <i class=" fa fa-bar-chart-o"></i>                         <span>用户管理</span>                     </a>

                </li>
                <li class="sub-menu">
                    <a href="/operateDiary/" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>日志管理</span>
                    </a>
                    <!--<ul class="sub">
                        <li><a  href="morris.html">操作日志</a></li>
                    </ul>-->
                </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i>  作者相关文章</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
          		<div class="panel panel-default">
                        <div class="panel-heading">
                            博格巴+姆巴佩破门！法国4-2克罗地亚夺冠，法国世界杯第二次封王 - 钓鱼方程式
                        </div>
                        <div class="panel-body">
                            <h1>博格巴+姆巴佩破门！法国4-2克罗地亚夺冠，法国世界杯第二次封王</h1>
                            <div class="image-caption"><img src="{% static 'backgroundfiles/images\wc1.jpg' %}"></div><div class="image-caption">博格巴庆祝进球</div>
                            <blockquote>北京时间7月15日23时（俄罗斯当地时间18时），第21届世界杯决赛在莫斯科卢日尼基球场打响，法国4比2击败克罗地亚，第2次夺得大力神杯。上半场，格列兹曼开出任意球，曼朱基奇顶进世界杯史上首个乌龙。佩里希奇扳平比分，但他此后被判禁区内手球，格列兹曼操刀命中。下半时，博格巴和姆巴佩接连远射得手。法国队长洛里斯赠礼，曼朱基奇追为2比4。</blockquote>
                            <blockquote>这是世界杯史上第900场比赛。法国是第6支至少3次打进世界杯决赛的球队，德尚希望成为继扎加洛和贝肯鲍尔之后，以球员和教练身份夺得大力神杯的第3人，此前他的11场世界杯取得8胜。他沿用了半决赛首发阵容，与阿扎尔相撞受伤的马图伊迪已经恢复，本届世界杯465分钟13脚打门没有1次射正的吉鲁继续首发。</blockquote>
                            <div class="image-caption"><img src="{% static 'backgroundfiles/images\wc2.jpg' %}"></div><div class="image-caption">博格巴庆祝进球</div>
                            <blockquote>姆巴佩成为贝利（1958年，17岁249天）和贝尔戈米（1982年，18岁201天）之后，第3位参加世界杯决赛的U20球员（19岁207天）。法国在坎特和博格巴同时首发的18场比赛中保持不败（14胜4平）。瓦拉内则成为亨利、齐达内、德尚和卡雷姆布之后，第5位同年参加欧冠和世界杯决赛的法国球员。</blockquote>
                            <div class="image-caption"><img src="{% static 'backgroundfiles/images\wc3.jpg' %}"></div><div class="image-caption">博格巴庆祝进球</div>
                            <blockquote>克罗地亚是第13支打进世界杯决赛的球队，也是其中第10支欧洲球队。还是世界杯史上首支连续3场打了加时赛均晋级的球队、首支单届3场淘汰赛比分落后却不败的球队、首支预选赛阶段踢了附加赛却能杀进决赛的球队、1992年12月国际足联引人排名体系以来排名最低的决赛球队（第20位）、国内人口第2少（仅多于乌拉圭）的决赛球队。此前2支首进决赛的球队均夺冠（1998年法国；2010年西班牙）。达利奇的首发也没有变化，周五错过训练的佩里希奇及时伤愈，对英格兰表现出色的布罗佐维奇保住位置。</blockquote>
                            <div class="image-caption"><img src="{% static 'backgroundfiles/images\wc4.jpg' %}"></div><div class="image-caption">博格巴庆祝进球</div>
                            <blockquote>法国此前与克罗地亚交锋5次保持不败（3胜2平），其中两次大赛碰面，1998年世界杯半决赛2比1逆转，2004年欧洲杯小组赛2比2言和，此后唯一交锋是2011年3月在法兰西大球场0比0互交白卷。</blockquote>
                            <blockquote>双方首发平均年龄相差3岁99天，在世界杯决赛史上仅次于1958年（瑞典与巴西相差3岁187天），法国排出1978年阿根廷之后最年轻的世界杯决赛首发（26岁90天）。佩里希奇成为第27名出战决赛的国际米兰队员，马图伊迪与曼朱基奇则使得出战决赛的尤文队员也达到27人，仅次于拜仁队员（31人）。埃尔南德斯、格列兹曼、弗尔萨利科改写了从未有马竞队员参加决赛的历史，维达成为首位参加决赛的贝西克塔斯队员。</blockquote>
                            <!-- <blockquote>两国总统马克龙和基塔诺维奇到场观战。赛前举行简短闭幕式，上届冠军队长拉姆与超模沃迪亚诺娃护送大力神杯入场。开场后两队都非常谨慎，双方还没射门就已经出现进球！第18分钟，格列兹曼拿球造成布罗佐维奇犯规，他在门前27米处亲自主罚任意球传入禁区，曼朱基奇小禁区前沿头球解围蹭进本方球门左上角，1比0。此前10届决赛，先进球的球队夺得9个冠军，唯一例外正是法国（2006年点球负意大利）。</blockquote>
                            <blockquote>摩德里奇右侧任意球传中，维达前点顶高。曼朱基奇右路传中，拉基蒂奇后点左脚凌空打飞。坎特背后放倒佩里希奇，阿根廷主裁判皮塔纳亮出首张黄牌。</blockquote>
                            <blockquote>克罗地亚第28分钟追平比分！摩德里奇主罚任意球吊入禁区右侧，弗尔萨利科禁区右侧头球摆渡，曼朱基奇与博格巴争顶，维达背身回做，佩里希奇右脚停球扣过坎特，在门前13米处左脚抽射入右下角，1比1。佩里希奇庆祝进球时掀起球裤，露出左大腿肌肉。</blockquote>
                            <blockquote>法国第38分钟再度超出，格列兹曼右侧开出角球，马图伊迪前门柱争顶，球蹭佩里希奇偏出近门柱，法国队员抗议佩里希奇手球，慢镜显示球碰了佩里希奇左手，阿根廷主裁判皮塔纳求助于VAR，亲自到场边观看回放后补吹点球！这是世界杯决赛史上第6个点球，佩里希奇成为2006年马特拉齐之后，第2位世界杯决赛进球且被判点球的球员。格列兹曼操刀骗过苏巴希奇，左脚推进大门左侧，2比1。</blockquote>
                            <blockquote>这是法国队此役首次射正，也是本届世界杯第70个定位球入球。上次世界杯决赛前40分钟内出现3个进球，要追溯到1958年（巴西2比1瑞典）。格列兹曼本届世界杯参与6球（4球，2次助攻），与凯恩（6球，0次助攻）并列首位。他也成为排名方丹之后，单届世界杯进球第2多的法国球员。盖德-穆勒（1974）和巴尔达诺（1986）之后，同年欧洲俱乐部赛事决赛和世界杯决赛均有进球的第3人。</blockquote>
                            <blockquote>摩德里奇右侧任意球传中，帕瓦尔头球解围，洛夫伦左侧距门9米处射门打在博格巴背部偏出近门柱。乌姆蒂蒂左膝受伤，到场边接受治疗。整个上半时法国只有1次射门（1比7），比分却2比1领先。过去世界杯决赛上半时落后的球队，只有1930年乌拉圭逆转夺冠。</blockquote>
                            <blockquote>下半时，帕瓦尔后场长传，吉鲁禁区右侧回做，格列兹曼在门前23米处左脚抽射被苏巴希奇没收。拉基蒂奇左肋突破防守直传，雷比奇禁区左侧距门11米处左脚斜射被洛里斯托出横梁。莫德里奇右侧角球被顶出，弗尔萨利科在门前25米处凌空补射打偏。</blockquote>
                            <blockquote>几名球迷冲进场内，导致比赛暂停片刻。恩宗齐换下坎特。法国第59分钟扩大优势！博格巴后场斜长传，姆巴佩右路切入禁区传中碰斯特里尼奇变线，格列兹曼回做，博格巴在门前18米处低射被洛夫伦封堵后左脚补射贴左门柱入网，3比1。</blockquote> -->
                            <!-- <hr />
                            <div class="comment-item">
                                <div class="pic"><img></div>
                                <div class="author">
                                    <span class>2018-07-16 17:15:10</span>
                                </div>
                            </div> -->
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
          		</div>
            </div>
			
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'backgroundfiles/assets/js/jquery.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'backgroundfiles/assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="{% static 'backgroundfiles/assets/js/common-scripts.js' %}"></script>

    <!--script for this page-->
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
