{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'backgroundfiles/assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'backgroundfiles/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static 'backgroundfiles/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'backgroundfiles/assets/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'backgroundfiles/assets/js/jquery-3.3.1.min.js' %}"></script>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/bindex/" class="logo"><b>SocialMind管理员</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-tasks"></i>
                            个人中心
                        </a>
                    </li>
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-envelope-o"></i>
                            消息
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-zac.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-divya.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-danro.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-sherman.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-cog"></i>
                            设置
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here..." aria-describedby="basic-addon2" style="height: 28px;margin-top: 7px">
                            <button type="submit" class="btn btn-default" style="height:28px;border: 1px solid #666666 !important;-webkit-border-radius: 4px;background-color: #ffd777;margin-right: 10px;margin-top: 7px;color: #666666;border-radius: 4px;">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                        </form>
                    </li>
                    <li><a class="logout" href="/login/">注销</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="/bindex/"><img src="{% static 'backgroundfiles/assets/img/ny.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><a href="/bindex/" style="color: white">首页</a></h5>
              	  	
                  <!--<li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>爬虫</span>
                      </a>
                  </li>-->
                  <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-dashboard"></i>
                        <span>爬虫</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/SpiderList/">爬虫管理</a></li>
                        <li><a  href="/SpiderMonitor/">爬虫监控</a></li>
                        <li><a  href="/SpiderConfigure/">爬虫配置</a></li>
                    </ul>
                  </li>
                <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-tasks"></i>
                        <span>源数据展示模块</span>
                    </a>
                    <ul class="sub">
                      <li><a  href="/Author/">作者管理</a></li>
                      <li><a  href="/ArticlesOfAuthor/">查看作者相关文章</a></li>
                      <li><a href="/articlelist/">文章管理</a></li>
                  </ul>
                </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>数据清洗</span>
                      </a>
                      <ul class="sub">
                          <!-- <li><a  href="/DataCleanStatistics/">清洗数据统计</a></li> -->
                          <li><a  href="/DataCleanStrategies/">数据清洗策略配置</a></li>
                          <li><a  href="/DataCleanLog/">数据清洗日志管理</a></li>
                          <li><a  href="/washData/">数据清洗</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="/topics/" >
                        <i class="fa fa-book"></i>
                        <span>主题管理</span>
                    </a>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-cogs"></i>
                        <span>舆情对象管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/AddEventObject/">新增舆情对象</a></li>
                        <li><a  href="/CreateEventObject/">舆情对象自动生成</a></li>
                        <li><a  href="/ShowEventObject/">舆情对象展示</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-tasks"></i>
                        <span>语义工具集</span>
                    </a>
                    <ul class="sub">
                      <li><a  href="/semanticsTools/">新增语义工具</a></li>
                      <li><a  href="/semanticsToolkits/">新增工具包</a></li>
                      <li><a  href="/ShowToolkits/">工具包展示</a></li>
                    </ul>
                  </li>
                  <!--<li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>系统操作管理</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">系统用户评论管理</a></li>
                          <li><a  href="responsive_table.html">系统用户操作管理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>用户管理</span>
                      </a>
                  </li>-->
                  <li class="sub-menu">
                   <a href="/usrCommentsSelect/" >                         <i class="fa fa-th"></i>                         <span>用户留言管理</span>                     </a>

                  </li>
                <li class="sub-menu">
                    <a href="/AssignAuthorities/" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>权限管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="active" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>用户管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/usersVerify/" style="color: #fff;">新增用户审核</a></li>
                        <script>
                            $(document).ready(function(){
                                $("li:not([class])>a:not(a:contains('新增用户审核'))").hover(function(){
                                    $("a:contains('新增用户审核')").removeAttr("style")
                                });
                            });
                        </script>
                        <li><a  href="/usrManagement/">用户管理</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="/operateDiary/" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>日志管理</span>
                    </a>
                    <!--<ul class="sub">
                        <li><a  href="morris.html">操作日志</a></li>
                    </ul>-->
                </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
              <h3><i class="fa fa-angle-right"></i> 新增用户审核</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label for="jiaose">筛选:</label><input id="jiaose" style="margin-left: 5px;height: 25px;width: 13%;display: inline-block" type="text" class="form-control" placeholder="请输入筛选条件">
                            <!--<span style="float: right;font-size: 12px;margin-left: 10px;margin-top: 3px">entries</span>
                            <select class="form-control" style="float: right;width: 60px;height: 25px;font-size: 12px">
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            <span style="float: right;font-size: 12px;margin-right: 10px;margin-top: 3px">Show</span>-->
                        </div>
                        <!--<div class="panel-body">-->
                            <table class="table table-bordered table-hover" style="margin: 0%">
                                <tr><td id="usridtd">User ID</td><td>真实姓名</td><td>性别</td><td>年龄</td><td>手机</td><td>邮箱</td><td>职业</td><td>角色</td><td style="width: 9%">审核</td></tr>
                                <tr><td><a>XiaoMing123</a></td><td>小明</td><td>男</td><td>22</td><td>13988886666</td><td>123@qq.com</td><td>学生</td><td>个人用户</td><td><div style="margin-top: -3px;margin-bottom: -8px;" class="switch switch-square" data-on-label="通过" data-off-label="未通过"><input type="checkbox" checked="" /></div></td></tr>
                                <tr><td><a>QuJiangDiYiPubSenti</a></td><td>李晓明</td><td>男</td><td>40</td><td>14988886666</td><td>123@qq.com</td><td>企业法人</td><td>企业用户</td><td><div style="margin-top: -3px;margin-bottom: -8px;" class="switch switch-square" data-on-label="通过" data-off-label="未通过"><input type="checkbox" checked="" /></div></td></tr>
                                <tr><td><a>LXM</a></td><td>李晓明</td><td>男</td><td>40</td><td>14988886666</td><td>133@qq.com</td><td>事业单位法人</td><td>事业单位用户</td><td><div style="margin-top: -3px;margin-bottom: -8px;" class="switch switch-square" data-on-label="通过" data-off-label="未通过"><input type="checkbox" checked="" /></div></td></tr>
                                <tr><td><a>XianGov</a></td><td>王明</td><td>男</td><td>36</td><td>18988886666</td><td>135@qq.com</td><td>处长</td><td>政府用户</td><td><div style="margin-top: -3px;margin-bottom: -8px;" class="switch switch-square" data-on-label="通过" data-off-label="未通过"><input type="checkbox" checked="" /></div></td></tr>
                            </table>
                            <script>
                                $(document).ready(function(){
                                    /*$("tr td:first-child:not(#usridtd)").click(function(){
                                        event.stopPropagation()
                                        //alert("1")
                                    });*/
                                    $("tr td a").click(function(){
                                        event.stopPropagation()
                                        var useName = $(this).html()
                                        if(useName == "XiaoMing123"){
                                            $("#UsrInformation").modal({
                                                backdrop:'static'
                                            });
                                        }
                                        else if(useName == "QuJiangDiYiPubSenti"){
                                            $("#QuJiangDiYiPubSenti").modal({
                                                backdrop:'static'
                                            });
                                        }
                                        else if(useName == "LXM"){
                                            $("#LXM").modal({
                                                backdrop:'static'
                                            });
                                        }
                                        else if(useName == "XianGov"){
                                            $("#XianGov").modal({
                                                backdrop:'static'
                                            });
                                        }
                                    });
                                    $("td").click(function(){
                                        event.stopPropagation()  
                                        if($(this).html().indexOf("div") == -1){//没有出现“div”
                                            $(this).parent().find('input').click()
                                        }
                                    });
                                });
                            </script>
                        <!--</div>-->
                        <div class="panel-footer" style="text-align: right;">
                            <!--Search:
                            <input type="text" class="form-control" placeholder="Search for..." style="width: 200px;height: 25px;display: inline-block">
                            <div class="btn-group btn-group-xs" role="group" aria-label="..." style="float: right;">
                                <button type="button" class="btn btn-default">First</button>
                                <button type="button" class="btn btn-default">Previous</button>
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-default">Next</button>
                                <button type="button" class="btn btn-default">Last</button>
                            </div>-->
                            <button class="btn btn-success btn-sm" style="margin-left: 10px;background-color: #41cac0;border-color:#41cac0;width: 6%"> 确认 </button>
                        </div>
                    </div>
                </div>
            </div>
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <div class="modal fade" id="UsrInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">用户个人信息</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                  <tr><td>User ID</td><td>XiaoMing123</td></tr>
                  <tr><td>头像</td><td><img src="{% static 'backgroundfiles/assets\img\ui-zac.jpg' %}"></td></tr>
                  <tr><td>角色</td><td>个人用户</td></tr>
                  <tr><td>真实姓名</td><td>小明</td></tr>
                  <tr><td>性别</td><td>男</td></tr>
                  <tr><td>年龄</td><td>22</td></tr>
                  <tr><td>手机</td><td>13988886666</td></tr>
                  <tr><td>邮箱</td><td>123@qq.com</td></tr>
                  <tr><td>职业</td><td>学生</td></tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">导出用户信息</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="QuJiangDiYiPubSenti" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">用户个人信息</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                  <tr><td>User ID</td><td>QuJiangDiYiPubSenti</td></tr>
                  <tr><td>头像</td><td><img src="{% static 'backgroundfiles/assets\img\ui-zac.jpg' %}"></td></tr>
                  <tr><td>角色</td><td>企业用户</td></tr>
                  <tr><td>企业名称</td><td>曲江第一舆情有限责任公司</td></tr>
                  <tr><td>企业类型</td><td>科技-互联网</td></tr>
                  <tr><td>营业执照</td><td>123123</td></tr>
                  <tr><td>营业执照图片</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\Businesslicense .jpg' %}"></td></tr>
                  <tr><td>所在地区</td><td>西安</td></tr>
                  <tr><td>法人姓名</td><td>李晓明</td></tr>
                  <tr><td>法人身份证</td><td>612387199202021100</td></tr>
                  <tr><td>法人身份证正面</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\IDCardFront.jpg' %}"></td></tr>
                  <tr><td>法人身份证背面</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\IDCardReverseSide.jpg' %}"></td></tr>
                  <tr><td>性别</td><td>男</td></tr>
                  <tr><td>年龄</td><td>40</td></tr>
                  <tr><td>手机</td><td>14988886666</td></tr>
                  <tr><td>邮箱</td><td>123@qq.com</td></tr>
                  <tr><td>职业</td><td>企业法人</td></tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">导出用户信息</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="LXM" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">用户个人信息</h4>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered">
                      <tr><td>User ID</td><td>LXM</td></tr>
                      <tr><td>头像</td><td><img src="{% static 'backgroundfiles/assets\img\ui-zac.jpg' %}"></td></tr>
                      <tr><td>角色</td><td>事业单位用户</td></tr>
                      <tr><td>事业单位名称</td><td>西安交通大学</td></tr>
                      <tr><td>事业单位类型</td><td>科技-互联网</td></tr>
                      <tr><td>事业单位编号</td><td>123123</td></tr>
                      <tr><td>事业单位登记图片</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\Businesslicense .jpg' %}"></td></tr>
                      <tr><td>所在地区</td><td>西安</td></tr>
                      <tr><td>法人姓名</td><td>李晓明</td></tr>
                      <tr><td>法人身份证</td><td>612387199202021100</td></tr>
                      <tr><td>法人身份证正面</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\IDCardFront.jpg' %}"></td></tr>
                      <tr><td>法人身份证背面</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\IDCardReverseSide.jpg' %}"></td></tr>
                      <tr><td>性别</td><td>男</td></tr>
                      <tr><td>年龄</td><td>40</td></tr>
                      <tr><td>手机</td><td>14988886666</td></tr>
                      <tr><td>邮箱</td><td>123@qq.com</td></tr>
                      <tr><td>职业</td><td>事业单位法人</td></tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">导出用户信息</button>
                </div>
              </div>
            </div>
      </div>
        <div class="modal fade" id="XianGov" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">用户个人信息</h4>
                </div>
                <div class="modal-body">
                  <table class="table table-bordered">
                      <tr><td>User ID</td><td>XianGov</td></tr>
                      <tr><td>头像</td><td><img src="{% static 'backgroundfiles/assets\img\ui-zac.jpg' %}"></td></tr>
                      <tr><td>角色</td><td>政府用户</td></tr>
                      <tr><td>政府名称</td><td>曲江科技处</td></tr>
                      <tr><td>政府类型</td><td>科技-互联网</td></tr>
                      <tr><td>组织机构代码</td><td>123123</td></tr>
                      <tr><td>组织机构图片</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\Businesslicense .jpg' %}"></td></tr>
                      <tr><td>所在地区</td><td>西安</td></tr>
                      <tr><td>法人姓名</td><td>王明</td></tr>
                      <tr><td>法人身份证</td><td>612387199202021100</td></tr>
                      <tr><td>法人身份证正面</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\IDCardFront.jpg' %}"></td></tr>
                      <tr><td>法人身份证背面</td><td><img style="width: 128px;height: 128px;" src="{% static 'backgroundfiles/assets\img\IDCardReverseSide.jpg' %}"></td></tr>
                      <tr><td>性别</td><td>男</td></tr>
                      <tr><td>年龄</td><td>36</td></tr>
                      <tr><td>手机</td><td>18988886666</td></tr>
                      <tr><td>邮箱</td><td>135@qq.com</td></tr>
                      <tr><td>职业</td><td>处长</td></tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">导出用户信息</button>
                </div>
              </div>
            </div>
          </div>


      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'backgroundfiles/assets/js/jquery.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'backgroundfiles/assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="{% static 'backgroundfiles/assets/js/common-scripts.js' %}"></script>

    <!--script for this page-->
    <!--custom checkbox & radio-->
	
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-daterangepicker/date.js' %}"></script>
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js' %}"></script>
	
	
    <script src="{% static 'backgroundfiles/assets/js/form-component.js' %}"></script>
    
    <script src="{% static 'backgroundfiles/assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>

	<!--custom switch-->
	<script src="{% static 'backgroundfiles/assets/js/bootstrap-switch.js' %}"></script>
	
	<!--custom tagsinput-->
	<script src="{% static 'backgroundfiles/assets/js/jquery.tagsinput.js' %}"></script>
	
	<!--custom checkbox & radio-->
	
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-daterangepicker/date.js' %}"></script>
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'backgroundfiles/assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js' %}"></script>
	 
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
