{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="{% static 'assets0/layui/layui.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="stylesheet" href="{% static 'assets0/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css?t=1531663423583" media="all">
<!-- {#    <link rel="stylesheet" href="//res.layui.com/static/css/global.css?t=1531663423583-6" media="all">#} -->
    <title>DASHGUM - Bootstrap Admin Template</title>
    <script type="text/javascript" charset="utf8"
            src="{% static 'backgroundfiles/DataTables-1.10.15/media/js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'backgroundfiles/DataTables-1.10.15/media/css/jquery.dataTables.css' %}">
    <script type="text/javascript" charset="utf8"
            src="{% static 'backgroundfiles/DataTables-1.10.15/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets0/layui/layui.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'backgroundfiles/assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'backgroundfiles/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{% static 'backgroundfiles/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'backgroundfiles/assets/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        table tr td input {
            border: 0px;
            width: 100%;
            outline: none;
        }

        .modal-dialog {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .modal-content {
            /*overflow-y: scroll; */
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .modal-body {
            overflow-y: scroll;
            position: absolute;
            top: 55px;
            bottom: 65px;
            width: 100%;
        }

        .modal-header .close {
            margin-right: 15px;
        }

        .modal-footer {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>

<body>

<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="/bindex/" class="logo"><b>SocialMind管理员</b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                        <i class="fa fa-tasks"></i>
                        个人中心
                    </a>
                </li>
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                        <i class="fa fa-envelope-o"></i>
                        消息
                        <span class="badge bg-theme">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 5 new messages</p>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <span class="photo"><img alt="avatar"
                                                         src="{% static 'backgroundfiles/assets/img/ui-zac.jpg' %}"></span>
                                <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <span class="photo"><img alt="avatar"
                                                         src="{% static 'backgroundfiles/assets/img/ui-divya.jpg' %}"></span>
                                <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <span class="photo"><img alt="avatar"
                                                         src="{% static 'backgroundfiles/assets/img/ui-danro.jpg' %}"></span>
                                <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                <span class="message">
                                        Love your new Dashboard.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <span class="photo"><img alt="avatar"
                                                         src="{% static 'backgroundfiles/assets/img/ui-sherman.jpg' %}"></span>
                                <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                <span class="message">
                                        Please, answer asap.
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">See all messages</a>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                        <i class="fa fa-cog"></i>
                        设置
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 4 pending tasks</p>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <div class="task-info">
                                    <div class="desc">DashGum Admin Panel</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <div class="task-info">
                                    <div class="desc">Product Development</div>
                                    <div class="percent">80%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/bindex/">
                                <div class="task-info">
                                    <div class="desc">Payments Sent</div>
                                    <div class="percent">70%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                        <span class="sr-only">70% Complete (Important)</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="external">
                            <a href="#">See All Tasks</a>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->

            </ul>
            <!--  notification end -->
        </div>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here..."
                                   aria-describedby="basic-addon2" style="height: 28px;margin-top: 7px">
                            <button type="submit" class="btn btn-default"
                                    style="height:28px;border: 1px solid #666666 !important;-webkit-border-radius: 4px;background-color: #ffd777;margin-right: 10px;margin-top: 7px;color: #666666;border-radius: 4px;">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </li>
                <li><a class="logout" href="/login/">注销</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="/bindex/"><img src="{% static 'backgroundfiles/assets/img/ny.jpg' %}"
                                                            class="img-circle" width="60"></a></p>
                <h5 class="centered"><a href="/bindex/" style="color: white">首页</a></h5>

                <!--<li class="mt">
                    <a class="active" href="index.html">
                        <i class="fa fa-dashboard"></i>
                        <span>爬虫</span>
                    </a>
                </li>-->
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-dashboard"></i>
                        <span>爬虫</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/SpiderList/">爬虫管理</a></li>
                        <li><a href="/SpiderMonitor/">爬虫监控</a></li>
                        <li><a href="/SpiderConfigure/">爬虫配置</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>源数据展示模块</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Author/">作者管理</a></li>
                        <li><a href="/yuandatashow/">数据表管理</a></li>
                        <li><a href="/articlelist/">文章管理</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-desktop"></i>
                        <span>数据清洗</span>
                    </a>
                    <ul class="sub">
                        <!-- <li><a href="/DataCleanStatistics/">清洗数据统计</a></li> -->
                        <li><a href="/DataCleanStrategies/">数据清洗策略配置</a></li>
                        <li><a href="/DataCleanLog/">数据清洗日志管理</a></li>
                        <li><a href="/washData/">数据清洗</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="/topics/">
                        <i class="fa fa-book"></i>
                        <span>主题管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        <span>舆情对象管理</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/AddEventObject/">新增舆情对象</a></li>
                        <li><a href="/CreateEventObject/">舆情对象自动生成</a></li>
                        <li><a href="/objectshow/">舆情对象展示</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>语义工具集</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/semanticsTools/">新增语义工具</a></li>
                        <li><a href="/semanticsToolkits/">新增工具包</a></li>
                        <li><a href="/ShowToolkits/">工具包展示</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="/usrCommentsSelect/">
                        <i class="fa fa-th"></i>
                        <span>用户留言管理</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a href="/AssignAuthorities/">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>权限管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/usrManagement/" class="active">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>用户管理</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a href="/operateDiary/">
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>日志管理</span>
                    </a>
                    <!--<ul class="sub">
                        <li><a  href="morris.html">操作日志</a></li>
                    </ul>-->
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">

            <h3><i class="fa fa-angle-right"></i> 用户管理</h3>
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li id ='3'>个人用户</li>
                    <li id ='0'>企业用户</li>
                    <li id ='2'>事业单位用户</li>
                    <li id ='1'>政府机构用户</li>

                </ul>
                <div class="layui-tab-content" style="height: 100px;">


                    <div  id = '33' class="layui-tab-item">
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        个人用户
                                    </div>
                                    <br>
                                    <table id="personUser" class="display"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  id = '00' class="layui-tab-item">
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <!--<label for="jiaose">筛选:</label><input id="jiaose" style="margin-left: 5px;height: 25px;width: 13%;display: inline-block" type="text" class="form-control" placeholder="请输入筛选条件">-->
                                        企业用户
                                    </div>
                                    <br>
                                    <!--<div class="panel-body">-->
                                    <table id="comUser" class="display"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  id = '22' class="layui-tab-item">
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <!--<label for="jiaose">筛选:</label><input id="jiaose" style="margin-left: 5px;height: 25px;width: 13%;display: inline-block" type="text" class="form-control" placeholder="请输入筛选条件">-->
                                        事业单位用户
                                    </div>
                                    <br>
                                    <!--<div class="panel-body">-->
                                    <table id="institutionUser" class="display"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  id = '11' class="layui-tab-item">
                        <div class="row mt">
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <!--<label for="jiaose">筛选:</label><input id="jiaose" style="margin-left: 5px;height: 25px;width: 13%;display: inline-block" type="text" class="form-control" placeholder="请输入筛选条件">-->
                                        政府用户
                                    </div>
                                    <br>
                                    <!--<div class="panel-body">-->
                                    <table id="govUser" class="display"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </section><!--/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <div class="modal fade" id="UsrInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">修改用户信息</h4>
                </div>
                <div class="modal-body">
                    <form id="XiaoMing123form">
                        <table class="table table-bordered">
                            <tr>
                                <td>User ID</td>
                                <td><input id="XiaoMing123UsrID" value="XiaoMing123"></td>
                            </tr>
                            <tr>
                                <td>头像</td>
                                <td><img src="{% static 'backgroundfiles/assets\img\ui-zac.jpg' %}"></td>
                            </tr>
                            <tr>
                                <td>角色</td>
                                <td><input id="XiaoMing123JueSe" value="个人用户"></td>
                            </tr>
                            <tr>
                                <td>真实姓名</td>
                                <td><input id="XiaoMing123Role" value="小明"></td>
                            </tr>
                            <tr>
                                <td>性别</td>
                                <td><input id="XiaoMing123Gender" value="男"></td>
                            </tr>
                            <tr>
                                <td>年龄</td>
                                <td><input id="XiaoMing123Age" value="22"></td>
                            </tr>
                            <tr>
                                <td>手机</td>
                                <td><input id="XiaoMing123Phone" value="13988886666"></td>
                            </tr>
                            <tr>
                                <td>邮箱</td>
                                <td><input id="XiaoMing123Mail" value="123@qq.com"></td>
                            </tr>
                            <tr>
                                <td>职业</td>
                                <td><input id="XiaoMing123Job" value="学生"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="subm('XiaoMing123form')">修改</button>
                </div>
            </div>
        </div>
    </div>


    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a
                href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'backgroundfiles/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'backgroundfiles/assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="{% static 'backgroundfiles/assets/js/jquery.ui.touch-punch.min.js' %}"></script>
<script class="include" type="text/javascript"
        src="{% static 'backgroundfiles/assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'backgroundfiles/assets/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'backgroundfiles/assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>


<!--common script for all pages-->
<script src="{% static 'backgroundfiles/assets/js/common-scripts.js' %}"></script>

<!--script for this page-->

<script type="text/javascript"
        src="{% static 'backgroundfiles/assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js' %}"></script>


<script src="{% static 'backgroundfiles/assets/js/form-component.js' %}"></script>

<script src="{% static 'backgroundfiles/assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>

<!--custom switch-->
<script src="{% static 'backgroundfiles/assets/js/bootstrap-switch.js' %}"></script>

<!--custom tagsinput-->
<script src="{% static 'backgroundfiles/assets/js/jquery.tagsinput.js' %}"></script>

<!--custom checkbox & radio-->


<script type="text/javascript"
        src="{% static 'backgroundfiles/assets/js/bootstrap-inputmask/bootstrap-inputmask.min.js' %}"></script>
<script src="{% static 'backgroundfiles/js/fileJs/userManage.js' %}"></script>

<script>
    //custom select box

    $(function () {
        console.log(111111)
            var url = document.location.toString();
            var arrurl = url.split('/');
            var para = arrurl[4];
            console.log(para);
            if(para==0&&para!='')
                 {
                $("#0").addClass('layui-this');
                $("#00").addClass('layui-show');
            }
            else if(para==2)
            {
                $("#2").addClass('layui-this');
                $("#22").addClass('layui-show');
            }
             else if(para==1)
            {
                $("#1").addClass('layui-this');
                $("#11").addClass('layui-show');
            }
             else
            {
                $("#3").addClass('layui-this');
                $("#33").addClass('layui-show');
            }
             layui.use('element', function () {
                var $ = layui.jquery
                    , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            });

            $('select.styled').customSelect();
            layui.use('element', function () {
                var $ = layui.jquery
                    , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            });

    });

</script>
<script>
    function subm(formid) {
        var flg = confirm("确定修改用户信息？")
        if (flg == true) {
            $("#" + formid).submit()
        }
    }
</script>
<script>
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块


    });
</script>
<script>
    window.onload = function(){
        personUserIndex();
        companyUserIndex();
        govermentUserIndex();
        instituteUserIndex();
    }
</script>
</body>
</html>
