{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'backgroundfiles/assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'backgroundfiles/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static 'backgroundfiles/assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'backgroundfiles/assets/css/style-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'backgroundfiles/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/echarts.js' %}"></script>
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="/bindex/" class="logo"><b>SocialMind管理员</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-tasks"></i>
                            个人中心
                        </a>
                    </li>
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-envelope-o"></i>
                            消息
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-zac.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-divya.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-danro.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <span class="photo"><img alt="avatar" src="{% static 'backgroundfiles/assets/img/ui-sherman.jpg' %}"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/bindex/">
                            <i class="fa fa-cog"></i>
                            设置
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/bindex/">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here..." aria-describedby="basic-addon2" style="height: 28px;margin-top: 7px">
                            <button type="submit" class="btn btn-default" style="height:28px;border: 1px solid #666666 !important;-webkit-border-radius: 4px;background-color: #ffd777;margin-right: 10px;margin-top: 7px;color: #666666;border-radius: 4px;">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                        </form>
                    </li>
                    <li><a class="logout" href="/login/">注销</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="/bindex/"><img src="{% static 'backgroundfiles/assets/img/ny.jpg' %}" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><a href="/bindex/" style="color: white">首页</a></h5>
              	  	
                  <!--<li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>爬虫</span>
                      </a>
                  </li>-->
                  <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-dashboard"></i>
                        <span>爬虫</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/SpiderList/">爬虫管理</a></li>
                        <li><a  href="/SpiderMonitor/">爬虫监控</a></li>
                        <li><a  href="/SpiderConfigure/">爬虫配置</a></li>
                    </ul>
                  </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>源数据展示模块</span>
                    </a>
                    <ul class="sub">
                      <li><a  href="/Author/">作者管理</a></li>
                      <li><a  href="/ArticlesOfAuthor/">查看作者相关文章</a></li>
                      <li><a href="/articlelist/">文章管理</a></li>
                  </ul>
                </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="active" >
                          <i class="fa fa-desktop"></i>
                          <span>数据清洗</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/DataCleanStatistics/">清洗数据统计</a></li>
                          <li><a  href="/DataCleanStrategies/">数据清洗策略配置</a></li>
                          <li><a  href="/DataCleanLog/">数据清洗日志管理</a></li>
                          <li><a  href="/washData/" style="color: #fff;">数据清洗</a></li>
                          <script>
                            $(document).ready(function(){
                                $("li:not([class])>a:not(a:contains('数据清洗'))").hover(function(){
                                    $("a:contains('数据清洗')").removeAttr("style")
                                });
                            });
                          </script>
                      </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="/topics/" >
                        <i class="fa fa-book"></i>
                        <span>主题管理</span>
                    </a>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-cogs"></i>
                        <span>舆情对象管理</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="/AddEventObject/">新增舆情对象</a></li>
                        <li><a  href="/CreateEventObject/">舆情对象自动生成</a></li>
                        <li><a  href="/ShowEventObject/">舆情对象展示</a></li>
                    </ul>
                  </li>
                  <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-tasks"></i>
                        <span>语义工具集</span>
                    </a>
                    <ul class="sub">
                      <li><a  href="/semanticsTools/">新增语义工具</a></li>
                      <li><a  href="/semanticsToolkits/">新增工具包</a></li>
                      <li><a  href="/ShowToolkits/">工具包展示</a></li>
                    </ul>
                  </li>
                  <!--<li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>系统操作管理</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">系统用户评论管理</a></li>
                          <li><a  href="responsive_table.html">系统用户操作管理</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>用户管理</span>
                      </a>
                  </li>-->
                  <li class="sub-menu">
                    <a href="/usrCommentsSelect/" >
                        <i class="fa fa-th"></i>
                        <span>用户留言管理</span>
                    </a>

                  </li>
                <li class="sub-menu">
                    <a href="/AssignAuthorities/" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>权限管理</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/usrManagement/" >                         <i class=" fa fa-bar-chart-o"></i>                         <span>用户管理</span>                     </a>

                </li>
                <li class="sub-menu">
                    <a href="/operateDiary/" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>日志管理</span>
                    </a>
                    <!--<ul class="sub">
                        <li><a  href="morris.html">操作日志</a></li>
                    </ul>-->
                </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> 数据清洗</h3>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            选择爬取数据
                            <span style="float: right;font-size: 12px;margin-left: 10px;margin-top: 3px">entries</span>
                            <select class="form-control" style="float: right;width: 60px;height: 25px;font-size: 12px">
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            <span style="float: right;font-size: 12px;margin-right: 10px;margin-top: 3px">Show</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">爬虫名称</label>
                                        <div class="col-sm-10">
                                            <select id="spidername" class="form-control">
                                                <option>10</option>
                                                <option>25</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">网站名称</label>
                                        <div class="col-sm-10">
                                            <select id="sitename" class="form-control">
                                                <option>10</option>
                                                <option>25</option>
                                                <option>50</option>
                                                <option>100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">爬取时间</label>
                                        <div class="col-sm-10">
                                            <label for="dateinput1" class="control-label">从</label>
                                            <input id="foretime" type="datetime-local" class="form-control" style="display: inline-block;width: 45%">
                                            <label for="dateinput2" class="control-label">到</label>
                                            <input id="backtime" type="datetime-local" class="form-control" style="display: inline-block;width: 45%">
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-default">Sign in</button>
                                        </div>
                                    </div> -->
                                </form>
                                </div>
                            </div>
                            <div class="row">
                                <label for="inputPassword3" class="col-sm-2 control-label">数据源表</label>
                                <div class="col-sm-10">
                                <div id="datatablenames" class="list-group">
                                    <button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Cras justo odio</button>
                                    <button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Dapibus ac facilisis in</button>
                                    <button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Morbi leo risus</button>
                                    <button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Porta ac consectetur ac</button>
                                    <button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Vestibulum at eros</button>
                                </div>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $("#spidername").change(function(){
                                        $("#datatablenames").empty();
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Cras justo odio</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Porta ac consectetur ac</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Vestibulum at eros</button>');
                                    })
                                    $("#sitename").change(function(){
                                        $("#datatablenames").empty();
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Cras justo odio</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Dapibus ac facilisis in</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Morbi leo risus</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Porta ac consectetur ac</button>');
                                    })
                                    $("#foretime").change(function(){
                                        $("#datatablenames").empty();
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Cras justo odioMorbi leo risus</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Porta ac consectetur ac</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Dapibus ac facilisis in</button>');
                                    })
                                    $("#backtime").change(function(){
                                        $("#datatablenames").empty();
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Cras justo odio</button>');
                                        $("#datatablenames").append('<button onclick="displaytable(this)" style="width: 100%" type="button" class="list-group-item">Porta ac consectetur ac</button>');
                                    })
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            字段统计
                            <span style="float: right;font-size: 12px;margin-left: 10px;margin-top: 3px">entries</span>
                            <select class="form-control" style="float: right;width: 60px;height: 25px;font-size: 12px">
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            <span style="float: right;font-size: 12px;margin-right: 10px;margin-top: 3px">Show</span>
                        </div>
                        <div class="panel-body">
                            <div id="mypiechart" style="height:359px;width:100%;"></div>
                            <script>
                                var myChart = echarts.init(document.getElementById('mypiechart'));
                                option = {
                                    title : {
                                        text: '字段出现频数占比图',
                                        subtext: '仅包含出现频数前十的字段',
                                        x:'center'
                                    },
                                    tooltip : {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },
                                    legend: {
                                        x : 'center',
                                        y : 'bottom',
                                        data:['Firefox 1.0','IE Mobile','PSP browser','Win 95+','Opera 9.5','Internet','Win','All others','Win XP SP2+','PHP']
                                    },
                                    toolbox: {
                                        show : true,
                                        feature : {
                                            mark : {show: true},
                                            dataView : {show: true, readOnly: false},
                                            magicType : {
                                                show: true,
                                                type: ['pie', 'funnel']
                                            },
                                            restore : {show: true},
                                            saveAsImage : {show: true}
                                        }
                                    },
                                    calculable : true,
                                    series : [
                                        {
                                        name:'字段',
                                        type:'pie',
                                        radius : [30, 110],
                                        //center : ['75%', '50%'],
                                        //roseType : 'area',
                                        data:[
                                            {value:10, name:'Firefox 1.0'},
                                            {value:5, name:'IE Mobile'},
                                            {value:15, name:'PSP browser'},
                                            {value:25, name:'Win 95+'},
                                            {value:20, name:'Opera 9.5'},
                                            {value:35, name:'Internet'},
                                            {value:30, name:'Win'},
                                            {value:40, name:'All others'},
                                            {value:17, name:'Win XP SP2+'},
                                            {value:9, name:'PHP'},
                                        ]
                                        }
                                    ]
                                };
                                //myChart.setOption(option);
                            </script>
                        </div>
                    </div>
                </div>
            </div>  
          	<div class="row mt">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label id="tableshowname">数据源表</label>
                            <span style="float: right;font-size: 12px;margin-left: 10px;margin-top: 3px">entries</span>
                            <select class="form-control" style="float: right;width: 60px;height: 25px;font-size: 12px">
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                            <span style="float: right;font-size: 12px;margin-right: 10px;margin-top: 3px">Show</span>
                            <button class="btn btn-info btn-xs" style="margin-right: 10px;float: right"><span class="glyphicon glyphicon-circle-arrow-left"></span> 撤回</button>
                        </div>
                        <!--<div class="panel-body">-->
                            <div style="color: #333;background-color: #f5f5f5;border-color: #ddd;padding: 10px 15px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;">
                                <form class="form-inline">
                                    <label>数据清洗策略：</label>
                                    <select id="celuexuanze" class="form-control">
                                        <option>缺失值</option>
                                        <option>一致性 </option>
                                        <option>字符串错误 </option>
                                        <option>统一时间格式 </option>
                                        <option>合并两列  </option>
                                        <option>拆分为多列 </option>
                                    </select>
                                    <script>
                                        $(document).ready(function(){
                                            $("#celuexuanze").change(function(){
                                                if(0 == $("#celuexuanze").get(0).selectedIndex){
                                                    for(i=1;i<=6;i++){
                                                        $("#formg"+i).hide()
                                                    }
                                                    $("#formg1").show()
                                                }
                                                else if(1 == $("#celuexuanze").get(0).selectedIndex){
                                                    for(i=1;i<=6;i++){
                                                        $("#formg"+i).hide()
                                                    }
                                                    $("#formg2").show()
                                                }
                                                else if(2 == $("#celuexuanze").get(0).selectedIndex){
                                                    for(i=1;i<=6;i++){
                                                        $("#formg"+i).hide()
                                                    }
                                                    $("#formg3").show()
                                                }
                                                else if(3 == $("#celuexuanze").get(0).selectedIndex){
                                                    for(i=1;i<=6;i++){
                                                        $("#formg"+i).hide()
                                                    }
                                                    $("#formg4").show()
                                                }
                                                else if(4 == $("#celuexuanze").get(0).selectedIndex){
                                                    for(i=1;i<=6;i++){
                                                        $("#formg"+i).hide()
                                                    }
                                                    $("#formg5").show()
                                                }
                                                else if(5 == $("#celuexuanze").get(0).selectedIndex){
                                                    for(i=1;i<=6;i++){
                                                        $("#formg"+i).hide()
                                                    }
                                                    $("#formg6").show()
                                                }
                                            });
                                        });
                                    </script>
                                    <div id="formg1" class="form-group" style="display: none">
                                      <label for="exampleInputName2">缺失值</label>
                                      <select id="queshizhisel" class="form-control" >
                                            <option>填充null</option>
                                            <option>填充均值 </option>
                                            <option>填充最大值 </option>
                                            <option>填充最小值 </option>
                                            <option>填充中值  </option>
                                            <option>填充最频繁值 </option>
                                            <option>填充指定值</option>
                                            <option>删除该列 </option>
                                    </select>
                                    <input id="addval" placeholder="填充指定值" class="form-control" style="display: none">
                                    <script>
                                        $(document).ready(function(){
                                            $("#queshizhisel").change(function(){
                                                /* alert($("#queshizhisel").get(0).selectedIndex); */
                                                if(6 == $("#queshizhisel").get(0).selectedIndex){
                                                    $("#addval").show()
                                                }
                                                else{
                                                    $("#addval").hide()
                                                }
                                            });
                                        });       
                                    </script>
                                    </div>
                                    <div id="formg2" class="form-group" style="display: none">
                                        <label for="exampleInputName2">一致性</label>
                                        <select id="queshizhisel" class="form-control" >
                                          <option>删除重复行</option>
                                          <option>去除不合理值 </option>
                                        </select>
                                    </div>
                                    <div id="formg3" class="form-group" style="display: none">
                                        <label for="exampleInputName2">字符串错误</label>
                                        <select id="zifuchuansel" class="form-control" >
                                          <option>删除字符串左右的空格</option>
                                          <option>将字符串中间的空格改为& nbsp</option>
                                          <option>将指定子字符串修改为某特定字符串</option>
                                        </select>
                                        <input id="addzhidingzizi" placeholder="指定子字符串" class="form-control" style="display: none">
                                        <input id="addtedingzi" placeholder="修改为特定字符串" class="form-control" style="display: none">
                                        <script>
                                            $(document).ready(function(){
                                                $("#zifuchuansel").change(function(){
                                                /* alert($("#queshizhisel").get(0).selectedIndex); */
                                                if(2 == $("#zifuchuansel").get(0).selectedIndex){
                                                    $("#addzhidingzizi").show()
                                                    $("#addtedingzi").show()
                                                }
                                                else{
                                                    $("#addzhidingzizi").hide()
                                                    $("#addtedingzi").hide()
                                                }
                                            });
                                            });       
                                    </script>
                                    </div>
                                    <div id="formg4" class="form-group" style="display: none">
                                        <label for="exampleInputName2">统一时间格式</label>
                                        <select id="queshizhisel" class="form-control" >
                                            <option>xxxx-xx-xx xx:xx:xx</option>
                                            <option>xxxx/xx/xx xx:xx:xx </option>
                                        </select>
                                    </div>
                                    <div id="formg5" class="form-group" style="display: none">
                                        <label for="exampleInputName2">合并两列</label>
                                        <select id="queshizhisel" class="form-control" >
                                          <option>重复项第一列覆盖第二列</option>
                                          <option>重复项第二列覆盖第一列 </option>
                                          <option>重复项叠加 </option>
                                        </select>
                                    </div>
                                    <div id="formg6" class="form-group" style="display: none">
                                        <label for="exampleInputName2">拆分为多列</label>
                                        <select id="queshizhisel" class="form-control" >
                                          <option>按数据类型拆分</option>
                                          <option>按自定义阈值拆分 </option>
                                          <option>按包含不同关键字拆分 </option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <table id="tableshow" class="table table-bordered" style="display: none;margin: 0%">
                                <thead><tr><th>时间</th><th>网站</th><th>网址</th><th>错误的item</th><th>错误详情</th></tr></thead>
                                <tr><td>Gecko</td><td>Firefox 1.0</td><td>Win 98+ / OSX.2+</td><td>Win 95+</td><td>1.7</td></tr>
                                <tr><td>Misc</td><td>IE Mobile</td><td>Win 95+</td><td>Windows Mobile 6</td><td>-</td></tr>
                                <tr><td>Misc</td><td>PSP browser</td><td>Win</td><td>PHP</td><td>-</td></tr>
                                <tr><td>Other browsers</td><td>Win 95+</td><td>All others</td><td>-</td><td>-</td></tr>
                                <tr><td>Presto</td><td>Opera 9.5</td><td>Win 88+ / OSX.3+</td><td>Win 95+</td><td>-</td></tr>
                                <tr><td>Trident</td><td>Internet</td><td>Win 95+</td><td>Win 95+</td><td>4</td></tr>
                                <tr><td>Trident</td><td>Internet</td><td>Win 95+</td><td>Win 95+</td><td>5</td></tr>
                                <tr><td>Trident</td><td>Internet</td><td>Win 95+</td><td>Win 95+</td><td>5.5</td></tr>
                                <tr><td>Trident</td><td>Internet</td><td>Win 95+</td><td>Win 95+</td><td>6</td></tr>
                                <tr><td>Trident</td><td>Internet</td><td>Win XP SP2+</td><td>Win 95+</td><td>7</td></tr>
                            </table>
                            <script>  
                            $(document).ready(function(){
                                $("#tableshow tr td").click(function(){
                                    var tdindex = $(this).index()+1;
                                    $("#tableshow tr td").removeClass('success');
                                    $("#tableshow tr th").removeClass('success');
                                    $("#tableshow tr td:nth-child("+tdindex+")").addClass('success');
                                    $("#tableshow tr th:nth-child("+tdindex+")").addClass('success');
                                    option = {
                                    title : {
                                        text: '字段出现频数占比图',
                                        subtext: '仅包含出现频数前十的字段',
                                        x:'center'
                                    },
                                    tooltip : {
                                        trigger: 'item',
                                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                                    },
                                    legend: {
                                        x : 'center',
                                        y : 'bottom',
                                        data:['Firefox 1.0','IE Mobile','PSP browser','Win 95+','Opera 9.5','Internet','Win','All others','Win XP SP2+','PHP']
                                    },
                                    toolbox: {
                                        show : true,
                                        feature : {
                                            mark : {show: true},
                                            dataView : {show: true, readOnly: false},
                                            magicType : {
                                                show: true,
                                                type: ['pie', 'funnel']
                                            },
                                            restore : {show: true},
                                            saveAsImage : {show: true}
                                        }
                                    },
                                    calculable : true,
                                    series : [
                                        {
                                        name:'字段',
                                        type:'pie',
                                        radius : [30, 110],
                                        //center : ['75%', '50%'],
                                        //roseType : 'area',
                                        data:[
                                            {value:10, name:'Firefox 1.0'},
                                            {value:5, name:'IE Mobile'},
                                            {value:15, name:'PSP browser'},
                                            {value:25, name:'Win 95+'},
                                            {value:20, name:'Opera 9.5'},
                                            {value:35, name:'Internet'},
                                            {value:30, name:'Win'},
                                            {value:40, name:'All others'},
                                            {value:17, name:'Win XP SP2+'},
                                            {value:9, name:'PHP'},
                                        ]
                                        }
                                    ]
                                };
                                var myChart = echarts.init(document.getElementById('mypiechart'));
                                myChart.clear();
                                myChart.setOption(option);
                                });
                            }); 
                            </script>
                        <!--</div>-->
                        <div id="tableshowfooter" class="panel-footer" style="display: none;">
                            Search:
                            <input type="text" class="form-control" placeholder="Search for..." style="width: 200px;height: 25px;display: inline-block">
                            <div class="btn-group btn-group-xs" role="group" aria-label="..." style="float: right;">
                                <button type="button" class="btn btn-default">First</button>
                                <button type="button" class="btn btn-default">Previous</button>
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-default">Next</button>
                                <button type="button" class="btn btn-default">Last</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2018 - <a href="http://www.xjtu.edu.cn" target="_blank" title="西安交通大学">西安交通大学</a> - <a href="http://www.xjtu.edu.cn" title="social mind" target="_blank">social mind舆情分析平台</a>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'backgroundfiles/assets/js/jquery.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.ui.touch-punch.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'backgroundfiles/assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'backgroundfiles/assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="{% static 'backgroundfiles/assets/js/common-scripts.js' %}"></script>

    <!--script for this page-->
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });
    function displaytable(btnthis){
        $("#tableshowname").empty()
        $("#tableshowname").append($(btnthis).html())
        $("#tableshow").show()
        $("#tableshowfooter").show()
    }

  </script>

  </body>
</html>
